openapi: 3.1.0
info:
  title: Magaya DFP Portal API
  version: '4.0'
  license:
    name: Proprietary
  contact:
    name: Magaya
    email: support@qwyk.o
  description: ''
servers:
  - url: 'https://api.qwykportals.com/api/portals'
    description: Production
  - url: 'https://api.next.qwykportals.com/api/portals'
    description: Staging
  - url: 'https://api.beta.qwykportals.com/api/portals'
    description: Beta
paths:
  /auth/login:
    post:
      summary: Log in
      operationId: post-auth-login
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                  expires_in:
                    type: integer
                x-examples:
                  example-1:
                    access_token: string
                    token_type: string
                    expires_in: 0
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    default: Unauthenticated
        '403':
          description: |-
            Forbidden
            Valid credentials but not able to continue, check response body `type` and `message` for a reason.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    enum:
                      - email-unconfirmed
                      - account-unconfirmed
                      - not-allowed-on-site
                    description: |-
                      Reasons: 
                      * email-unconfirmed: the user has not yet confirmed their email address.
                      * account-unconfirmed: an administrator has not yet approved the account for access.
                      * not-allowed-on-site: the user is not authorized to access the Site belonging to the `site_id` that was provided 
                  message:
                    type: string
        '412':
          description: 'Precondition Failed: the account retrieved from Magaya does not match the DFP requirements and needs to be upgraded. Use the value of the X-Upgrade-With header to post additional information before trying to authenticate again. The type indicates the reason for the upgrade.'
          headers:
            X-Upgrade-With:
              schema:
                type: string
              description: 'URL to use when upgrading the user account '
            Access-Control-Expose-Headers:
              schema:
                type: string
                default: X-Upgrade-With
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    enum:
                      - account-upgrade-required
                      - email-unknown
                    description: |-
                      Reasons:
                      * account-upgrade-required: The account found belongs to a company and not an individual, the account needs to be upgraded to a contact account.
                      * email-unknown: The user was found but does not have an email, it needs to be provided.
                  message:
                    type: string
      tags:
        - Authentication
      security: []
      requestBody:
        $ref: '#/components/requestBodies/LoginRequest'
      description: ''
      parameters:
        - schema:
            type: string
            default: application/json
          in: header
          name: Accept
  /invoice/invoices:
    get:
      summary: Index
      tags:
        - Invoice
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
                  links:
                    $ref: ./PaginationLinks.yaml
                  meta:
                    $ref: ./PaginationMeta.yaml
        '403':
          $ref: '#/components/responses/403'
      operationId: get-invoice-invoices
      x-internal: false
      parameters:
        - schema:
            type: integer
            minimum: 1
            example: 1
          in: query
          name: page
        - schema:
            type: integer
            example: 25
            minimum: 1
          in: query
          name: page_size
        - schema:
            type: string
            format: date-time
          in: query
          name: 'created_at_range[]'
          description: 2 dates in array format
        - schema:
            type: string
          in: query
          name: number
        - schema:
            type: integer
          in: query
          name: 'status[]'
        - schema:
            type: integer
          in: query
          name: 'approval_status[]'
        - schema:
            type: string
            default: created_at
            enum:
              - created_at
              - number
              - status
          in: query
          name: order_by
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          in: query
          name: order_by_direction
        - schema:
            type: string
            format: date-time
          in: query
          name: 'due_at_range[]'
          description: 2 dates in array format
        - schema:
            type: boolean
          in: query
          name: overdue
          description: 'true = overdue, false = not overdue, null/not present = all'
        - schema:
            type: integer
            enum:
              - 0
              - 1
          in: query
          name: type
  '/invoice/invoices/{invoiceId}':
    get:
      summary: Show
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Invoice'
              examples: {}
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: 'get-api-portals-warehouse-receipts-:id'
      x-internal: false
      tags:
        - Invoice
    parameters:
      - $ref: '#/components/parameters/invoiceId'
  '/invoice/invoices/{invoiceId}/attachments':
    parameters:
      - $ref: '#/components/parameters/invoiceId'
    get:
      summary: Attachments Index
      responses:
        '200':
          $ref: '#/components/responses/Attachments-List'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-api-portals-warehouse-receipts-id-cargo-items
      parameters:
        - schema:
            type: integer
            minimum: 1
            default: 25
          in: query
          name: page_size
        - schema:
            type: integer
            default: 1
            minimum: 1
          in: query
          name: page
        - schema:
            type: string
            enum:
              - created_at
              - updated_at
            default: created_a
          in: query
          name: order_by
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          in: query
          name: order_by_direction
      description: ''
      tags:
        - Invoice
      x-internal: false
    post:
      summary: Attachment Create
      operationId: post-warehouse-warehouse-receipts-warehouseReceiptId-attachments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Attachment'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: |-
                    Allows: pdf,docx,doc,xlsx,xls,csv,txt,png,jpg,jpeg

                    Max: 2048kb
                description:
                  type: string
                  maxLength: 191
              required:
                - file
                - description
      description: ''
      tags:
        - Invoice
      x-internal: true
  '/invoice/invoices/{invoiceId}/charges':
    parameters:
      - $ref: '#/components/parameters/invoiceId'
    get:
      summary: Charges Index
      responses:
        '200':
          $ref: '#/components/responses/Charges-List'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-api-portals-warehouse-receipts-id-charges
      parameters:
        - schema:
            type: integer
            minimum: 1
            default: 25
          in: query
          name: page_size
        - schema:
            type: integer
            default: 1
            minimum: 1
          in: query
          name: page
        - schema:
            type: string
            default: service
            enum:
              - quantity
              - service
              - price_amount
          in: query
          name: order_by
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          in: query
          name: order_by_direction
      description: ''
      x-internal: false
      tags:
        - Invoice
  '/invoice/invoices/{invoiceId}/events':
    parameters:
      - $ref: '#/components/parameters/invoiceId'
    get:
      summary: Events Index
      responses:
        '200':
          $ref: '#/components/responses/Events-List'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-api-portals-warehouse-receipts-id-cargo-items
      parameters:
        - schema:
            type: integer
            minimum: 1
            default: 25
          in: query
          name: page_size
        - schema:
            type: integer
            default: 1
            minimum: 1
          in: query
          name: page
        - schema:
            type: string
            default: date
            enum:
              - created_at
              - updated_at
              - date
          in: query
          name: order_by
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          in: query
          name: order_by_direction
      tags:
        - Invoice
      x-internal: false
  '/invoice/invoices/{invoiceId}/related-transactions':
    parameters:
      - name: invoiceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Related Transactions Index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InvoicableTransaction'
                  links:
                    $ref: ./PaginationLinks.yaml
                  meta:
                    $ref: ./PaginationMeta.yaml
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '':
          description: ''
      operationId: get-api-portals-warehouse-receipts-id-cargo-items
      parameters:
        - schema:
            type: integer
            minimum: 1
            default: 25
          in: query
          name: page_size
        - schema:
            type: integer
            default: 1
            minimum: 1
          in: query
          name: page
      tags:
        - Invoice
      x-internal: true
  /warehouse/warehouse-receipts:
    get:
      summary: Warehouse Receipt Index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WarehouseReceipt'
                  links:
                    $ref: ./PaginationLinks.yaml
                  meta:
                    $ref: ./PaginationMeta.yaml
        '403':
          $ref: '#/components/responses/403'
      operationId: get-api-portals-warehouse-receipts
      parameters:
        - schema:
            type: integer
            minimum: 1
            default: 25
          in: query
          name: page_size
        - schema:
            type: integer
            minimum: 1
            default: 1
          in: query
          name: page
        - schema:
            type: string
            default: created_at
            enum:
              - created_at
              - updated_at
              - status
              - number
          in: query
          name: order_by
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          in: query
          name: order_by_direction
        - schema:
            type: integer
          in: query
          name: 'status[]'
          description: An array of status integers to filter by
        - schema:
            type: string
          in: query
          name: number
        - schema:
            type: string
            format: date-time
          in: query
          name: 'created_at_range[]'
          description: 2 dates in array format
      tags:
        - Warehouse
    parameters: []
  '/warehouse/warehouse-receipts/{warehouseReceiptId}':
    get:
      summary: Warehouse Receipt Show
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/WarehouseReceipt'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: 'get-api-portals-warehouse-receipts-:id'
      x-internal: false
      tags:
        - Warehouse
    parameters:
      - $ref: '#/components/parameters/warehouseReceiptId'
  '/warehouse/warehouse-receipts/{warehouseReceiptId}/attachments':
    parameters:
      - $ref: '#/components/parameters/warehouseReceiptId'
    get:
      summary: Warehouse Receipt Attachments Index
      responses:
        '200':
          $ref: '#/components/responses/Attachments-List'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-api-portals-warehouse-receipts-id-cargo-items
      parameters:
        - schema:
            type: integer
            minimum: 1
            default: 25
          in: query
          name: page_size
        - schema:
            type: integer
            default: 1
            minimum: 1
          in: query
          name: page
        - schema:
            type: string
            enum:
              - created_at
              - updated_at
            default: created_a
          in: query
          name: order_by
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          in: query
          name: order_by_direction
      description: ''
      tags:
        - Warehouse
    post:
      summary: Warehouse Receipt Attachment Create
      operationId: post-warehouse-warehouse-receipts-warehouseReceiptId-attachments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Attachment'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: |-
                    Allows: pdf,docx,doc,xlsx,xls,csv,txt,png,jpg,jpeg

                    Max: 2048kb
                description:
                  type: string
                  maxLength: 191
              required:
                - file
                - description
      description: ''
      tags:
        - Warehouse
  '/warehouse/warehouse-receipts/{warehouseReceiptId}/cargo-items':
    parameters:
      - $ref: '#/components/parameters/warehouseReceiptId'
    get:
      summary: Warehouse Receipt Cargo Items Index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CargoItem'
                  links:
                    $ref: ./PaginationLinks.yaml
                  meta:
                    $ref: ./PaginationMeta.yaml
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-api-portals-warehouse-receipts-id-cargo-items
      parameters:
        - schema:
            type: integer
            minimum: 1
            default: 25
          in: query
          name: page_size
        - schema:
            type: integer
            default: 1
            minimum: 1
          in: query
          name: page
        - schema:
            type: string
            enum:
              - status
              - quantity
            default: status
          in: query
          name: order_by
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
          in: query
          name: order_by_direction
      tags:
        - Warehouse
  '/warehouse/warehouse-receipts/{warehouseReceiptId}/charges':
    parameters:
      - $ref: '#/components/parameters/warehouseReceiptId'
    get:
      summary: Warehouse Receipt Charges Index
      responses:
        '200':
          $ref: '#/components/responses/Charges-List'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-api-portals-warehouse-receipts-id-charges
      parameters:
        - schema:
            type: integer
            minimum: 1
            default: 25
          in: query
          name: page_size
        - schema:
            type: integer
            default: 1
            minimum: 1
          in: query
          name: page
        - schema:
            type: string
            default: service
            enum:
              - quantity
              - service
              - price_amount
          in: query
          name: order_by
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          in: query
          name: order_by_direction
      description: ''
      x-internal: false
      tags:
        - Warehouse
  '/warehouse/warehouse-receipts/{warehouseReceiptId}/entities':
    parameters:
      - $ref: '#/components/parameters/warehouseReceiptId'
    get:
      summary: Warehouse Receipt Entities Index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Entity'
                  links:
                    $ref: ./PaginationLinks.yaml
                  meta:
                    $ref: ./PaginationMeta.yaml
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-api-portals-warehouse-receipts-id-cargo-items
      parameters:
        - schema:
            type: integer
            minimum: 1
            default: 25
          in: query
          name: page_size
        - schema:
            type: integer
            default: 1
            minimum: 1
          in: query
          name: page
        - schema:
            type: string
            default: name
            enum:
              - name
          in: query
          name: order_by
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
          in: query
          name: order_by_direction
      tags:
        - Warehouse
  '/warehouse/warehouse-receipts/{warehouseReceiptId}/events':
    parameters:
      - $ref: '#/components/parameters/warehouseReceiptId'
    get:
      summary: Warehouse Receipt Events Index
      responses:
        '200':
          $ref: '#/components/responses/Events-List'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-api-portals-warehouse-receipts-id-cargo-items
      parameters:
        - schema:
            type: integer
            minimum: 1
            default: 25
          in: query
          name: page_size
        - schema:
            type: integer
            default: 1
            minimum: 1
          in: query
          name: page
        - schema:
            type: string
            default: date
            enum:
              - created_at
              - updated_at
              - date
          in: query
          name: order_by
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          in: query
          name: order_by_direction
      tags:
        - Warehouse
  /warehouse/inventory:
    get:
      summary: Inventory Index
      tags:
        - Warehouse
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InventoryListItem'
                  last_id:
                    type:
                      - string
                      - 'null'
                    format: uuid
      operationId: get-warehouse-inventory
      x-internal: true
      description: ''
      parameters:
        - schema:
            type: integer
            minimum: 10
            maximum: 100
            default: 25
          in: query
          name: page_size
        - schema:
            type: string
            format: uuid
          in: query
          name: last_id
        - schema:
            type: string
          in: query
          name: part_number
        - schema:
            type: string
          in: query
          name: description
        - schema:
            type: string
          in: query
          name: model
        - schema:
            type: string
          in: query
          name: customer
        - schema:
            type: string
          in: query
          name: manufacturer
  '/warehouse/inventory/{inventoryItemId}':
    get:
      summary: Inventory Item Show
      tags:
        - Warehouse
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InventoryItem'
        '':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'
      operationId: get-warehouse-inventory
      x-internal: true
      description: ''
      parameters: []
    parameters:
      - schema:
          type: string
          format: uuid
        name: inventoryItemId
        in: path
        required: true
  '/common/attachments/{attachmentId}/link':
    parameters:
      - schema:
          type: string
          format: uuid
        name: attachmentId
        in: path
        required: true
        description: The UUID of the attachment
    get:
      summary: Attachment Download Link
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
                      valid_until:
                        type: string
                        description: Timestamp until when the link is valid
                        format: date-time
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-shared-attachments-attachmentId
      description: Returns a Attachment's signed URL which can be used to download the file.
      tags:
        - Common
components:
  schemas:
    Invoice:
      title: Invoice
      type: object
      description: ''
      x-internal: false
      properties:
        id:
          type: string
          format: uuid
        number:
          type: string
          example: INV-12345
        applies_to:
          $ref: '#/components/schemas/Customer'
        type:
          type: integer
          minimum: 0
          maximum: 1
        type_name:
          type: string
          enum:
            - invoice
            - credit_note
        status:
          type: integer
          minimum: 0
          maximum: 1
        status_name:
          type: string
          enum:
            - open
            - paid
        approval_status:
          type: integer
          minimum: 0
          maximum: 2
        approval_status_name:
          type: string
          enum:
            - none
            - approved
            - disputed
        description:
          type: string
        total:
          $ref: '#/components/schemas/Price'
        paid:
          $ref: '#/components/schemas/Price'
        due:
          $ref: '#/components/schemas/Price'
        payment_terms:
          type:
            - string
            - 'null'
        account:
          type:
            - string
            - 'null'
        division:
          type:
            - string
            - 'null'
        notes:
          type:
            - string
            - 'null'
        created_at:
          type: string
          format: date-time
        due_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type:
            - string
            - 'null'
          format: date-time
    WarehouseReceipt:
      title: WarehouseReceipt
      type: object
      examples: []
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        organization_id:
          type: integer
          readOnly: true
        number:
          type: string
        status:
          type: integer
          minimum: 0
          maximum: 8
        status_name:
          type: string
          enum:
            - on-hand
            - in-progress
            - loaded
            - in-transit
            - at-destination
            - delivered
            - empty
            - arriving
            - pending
        warehouse:
          type: string
        shipper_name:
          type: string
        consignee_name:
          type: string
        supplier_name:
          type: string
        destination_agent_name:
          type: string
        driver_name:
          type: string
        carrier_pro_number:
          type: string
        carrier_tracking_number:
          type: string
        driver_license_number:
          type: string
        supplier_po_number:
          type: string
        notes:
          type: string
        attachments_count:
          type: integer
        total_items:
          type: integer
        total_pieces:
          type: integer
        total_weight:
          $ref: '#/components/schemas/MultiUnitValue'
        total_volume:
          $ref: '#/components/schemas/MultiUnitValue'
        is_on_hold:
          type: boolean
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
        deleted_at:
          type: string
          format: date-time
          readOnly: true
      required:
        - id
        - organization_id
        - number
        - status
        - status_name
        - is_on_hold
        - created_at
        - updated_at
    Payment:
      title: Payment
      type: object
      properties:
        id:
          type: string
      x-internal: true
    Attachment:
      title: Attachment
      type: object
      properties:
        id:
          type: string
          format: uuid
        parent_type:
          type: string
          enum:
            - warehouse-receipt
            - invoice
        parent_id:
          type: string
          format: uuid
        filename:
          type: string
        description:
          type: string
        mime_type:
          type: string
        extension:
          type: string
        created_at:
          type: string
          format: date-time
      required:
        - id
        - parent_type
        - parent_id
    CargoItem:
      title: CargoItem
      type: object
      properties:
        id:
          type: string
          format: uuid
        parent_type:
          type: string
          enum:
            - warehouse-receipt
        parent_id:
          type: string
          format: uuid
        status:
          type: integer
          minimum: 0
          maximum: 14
        status_name:
          type: string
          enum:
            - on-hand
            - in-progress
            - loaded
            - in-transit
            - at-destination
            - delivered
            - arriving
            - in-quote
            - available
            - booked
            - processed
            - pending
            - ordered
            - back-ordered
            - canceled
        type_code:
          type: integer
        count:
          type: integer
          example: 1
        quantity:
          type: integer
          example: 2
        package_name:
          type: string
          example: Pallet
        description:
          type: string
          example: 'Widgets, Non Haz'
        part_number:
          type:
            - string
            - 'null'
        serial_number:
          type:
            - string
            - 'null'
        location:
          type: string
          example: '210388'
        weight:
          $ref: '#/components/schemas/UnitValue'
        volume:
          $ref: '#/components/schemas/UnitValue'
        total_value:
          $ref: '#/components/schemas/Price'
        is_child:
          type: boolean
        is_kit:
          type: boolean
        is_container:
          type: boolean
        is_really_a_container:
          type: boolean
        is_vehicle:
          type: boolean
        is_on_hold:
          type: boolean
      required:
        - id
        - parent_type
        - parent_id
    Charge:
      title: Charge
      type: object
      x-internal: false
      description: ''
      properties:
        id:
          type: string
          format: uuid
        parent_type:
          type: string
          enum:
            - warehouse-receipt
            - invoice
        parent_id:
          type: string
          format: uuid
        type:
          type: integer
        service:
          type: string
          example: Ocean Freight Service
        description:
          type:
            - string
            - 'null'
        quantity:
          type: number
          example: 5
        price:
          $ref: '#/components/schemas/Price'
        tax_percentage:
          type: number
        retention:
          type: number
        notes:
          type:
            - string
            - 'null'
        is_voided:
          type: boolean
        is_prepaid:
          type: boolean
      required:
        - id
        - parent_type
        - parent_id
        - type
        - service
    Entity:
      title: Entity
      type: object
      properties:
        entity_type:
          type: string
          enum:
            - ams_notify_party_1
            - ams_notify_party_2
            - billing_client
            - billing_client_invoice
            - consignee
            - delivery_entity
            - destination_pickup_entity
            - intermediate_consignee
            - issued_by
            - notify_party
            - online_creator
            - release_to
            - shipper
            - supplier
            - undefined
            - pickup_entity
            - main_carrier
        parent_type:
          type: string
          enum:
            - warehouse-receipt
        parent_id:
          type: string
          format: uuid
        magaya_customer:
          $ref: '#/components/schemas/MagayaCustomer'
      required:
        - entity_type
        - parent_type
        - parent_id
        - magaya_customer
    Event:
      title: Event
      type: object
      properties:
        id:
          type: string
          format: uuid
        parent_type:
          type: string
          enum:
            - warehouse-receipt
            - invoice
        parent_id:
          type: string
          format: uuid
        name:
          type: string
          example: Arrived at Warehouse
        event:
          type: string
          example: Warehouse took delivery
        location_name:
          type: string
          example: 'Miami, FL'
        date:
          type: string
          format: date-time
      required:
        - id
        - parent_type
        - parent_id
    UnitValue:
      title: UnitValue
      type: object
      x-internal: false
      properties:
        value:
          type: number
          example: 100
        unit:
          type: string
    MagayaCustomer:
      title: MagayaCustomer
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Magaya Corporation
          readOnly: true
        street1:
          type: string
          example: 7950 NW 53rd Street
        state:
          type: string
          example: FL
        city:
          type: string
          example: Miami
        postalcode:
          type: string
          example: '33166'
        country:
          type: string
          example: United States
      required:
        - id
    MultiUnitValue:
      title: MultiUnitValue
      type: object
      properties:
        imperial:
          $ref: '#/components/schemas/UnitValue'
        metric:
          $ref: '#/components/schemas/UnitValue'
    Price:
      title: Price
      type: object
      properties:
        currency:
          type: string
          minLength: 3
          maxLength: 3
          example: USD
        amount:
          type: number
          example: 100.5
    Customer:
      title: Customer
      type: object
      x-internal: false
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
    InvoicableTransaction:
      title: InvoicableTransaction
      type: object
      properties:
        transaction_type:
          type: string
          enum:
            - warehouse-receipt
        transaction_id:
          type: string
          format: uuid
      x-internal: false
    LoginMagayaRequest:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
        organization_id:
          type: integer
        site_id:
          type: integer
      x-examples:
        example-1:
          username: username
          password: pa$$word
          organization_id: 0
          site_id: 0
      x-internal: true
      title: LoginMagayaRequest
    LoginNativeRequest:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
        organization_id:
          type: integer
        site_id:
          type: integer
      x-examples:
        example-1:
          email: user@example.com
          password: pa$$word
          organization_id: 0
          site_id: 0
      x-internal: true
    InventoryListItem:
      type: object
      x-examples:
        example-1:
          id: 35a96517-bd43-44d7-8b08-5ac485fd5872
          part_number: MARTYNSTHING
          model: Test
          description: Description
          package: Box
          manufacturer: null
          customer: Test Shipper
          pieces: 0
          reserved_pieces: 0
          requested_pieces: 0
          arriving_pieces: 3
      x-internal: true
      properties:
        id:
          type: string
          format: uuid
        part_number:
          type: string
        model:
          type:
            - string
            - 'null'
        description:
          type:
            - string
            - 'null'
        package:
          type:
            - string
            - 'null'
        manufacturer:
          type:
            - string
            - 'null'
        customer:
          type:
            - string
            - 'null'
        pieces:
          type: integer
        reserved_pieces:
          type: integer
        requested_pieces:
          type: integer
        arriving_pieces:
          type: integer
      description: ''
    InventoryItem:
      type: object
      x-examples:
        example-1:
          id: 35a96517-bd43-44d7-8b08-5ac485fd5872
          part_number: MARTYNSTHING
          model: Test
          description: Description
          package: Box
          manufacturer: null
          customer: Test Shipper
          pieces: 0
          reserved_pieces: 0
          requested_pieces: 0
          arriving_pieces: 3
      title: InventoryItem
      x-internal: true
      examples:
        - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          part_number: string
          model: string
          description: string
          package: string
          manufacturer: null
          customer: string
          pieces: 0
          reserved_pieces: 0
          requested_pieces: 0
          arriving_pieces: 0
          tracking_number: string
          commodity_type_name: string
          amount_per_pallet: 0
          length: 0
          width: 0
          height: 0
          total_volume: 0
          total_weight: 0
          items:
            - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
              parent_type: warehouse-receipt
              parent_id: 1c6ca187-e61f-4301-8dcb-0e9749e89eef
              status: 0
              status_name: on-hand
              type_code: 0
              count: 1
              quantity: 2
              package_name: Pallet
              description: 'Widgets, Non Haz'
              part_number: string
              serial_number: string
              location: '210388'
              weight:
                value: 100
                unit: string
              volume:
                value: 100
                unit: string
              total_value:
                currency: USD
                amount: 100.5
              is_child: true
              is_kit: true
              is_container: true
              is_really_a_container: true
              is_vehicle: true
              is_on_hold: true
          notes: string
      properties:
        id:
          type: string
          format: uuid
        part_number:
          type: string
        model:
          type:
            - string
            - 'null'
        description:
          type:
            - string
            - 'null'
        package:
          type:
            - string
            - 'null'
        manufacturer:
          type:
            - string
            - 'null'
        customer:
          type:
            - string
            - 'null'
        pieces:
          type: integer
        reserved_pieces:
          type: integer
        requested_pieces:
          type: integer
        arriving_pieces:
          type: integer
        tracking_number:
          type:
            - string
            - 'null'
        commodity_type_name:
          type:
            - string
            - 'null'
        amount_per_pallet:
          type: integer
        length:
          type: number
        width:
          type: number
        height:
          type: number
        total_volume:
          type: number
        total_weight:
          type: number
        items:
          type: array
          items:
            $ref: '#/components/schemas/CargoItem'
        notes:
          type:
            - string
            - 'null'
      description: ''
  responses:
    '403':
      description: Forbidden
      content:
        application/json:
          schema:
            description: ''
            type: object
            properties:
              message:
                type: string
                minLength: 1
            required:
              - message
            x-examples:
              example-1:
                message: This action is unauthorized.
          examples:
            example-1:
              value:
                message: This action is unauthorized.
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            description: ''
            type: object
            properties:
              message:
                type: string
                minLength: 1
            required:
              - message
            x-examples:
              example-1:
                message: 'No query results for model [{model}] {id}'
          examples:
            example-1:
              value:
                message: 'No query results for model [{model}] {id}'
    Attachments-List:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/Attachment'
              links:
                $ref: ./PaginationLinks.yaml
              meta:
                $ref: ./PaginationMeta.yaml
    Charges-List:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/Charge'
              links:
                $ref: ./PaginationLinks.yaml
              meta:
                $ref: ./PaginationMeta.yaml
    Events-List:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
              links:
                $ref: ./PaginationLinks.yaml
              meta:
                $ref: ./PaginationMeta.yaml
  securitySchemes:
    Bearer Token:
      type: http
      scheme: bearer
  parameters:
    invoiceId:
      name: invoiceId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    warehouseReceiptId:
      name: warehouseReceiptId
      in: path
      required: true
      schema:
        type: string
        format: uuid
  requestBodies:
    LoginRequest:
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/LoginNativeRequest'
              - $ref: '#/components/schemas/LoginMagayaRequest'
            description: 'Select Native when using a standalone portal, or Magaya when using a portal connectede with Magaya Supply Chain'
security:
  - Bearer Token: []
