openapi: 3.0.0
info:
  title: Shipment Exchange API
  version: '3.14'
  contact:
    name: Qwyk
    url: qwyk.io
    email: support@qwyk.io
  description: |
    The Shipment Exchange API allows your own systems to interact with Shipments that exist in your QwykPortals instance. It consists of two parts:

    #### Webhooks:
    [Receive a new Shipment](./QwykPortals-Shipment-Exchange-API.v1.yaml/paths/~1{your-endpoint}/post)
    This webhook will be called (provided it's configured) each time a new shipment has been posted in QwykPortals to notify you of the instruction.

    #### Methods:
    [Post Booking Confirmation](./QwykPortals-Shipment-Exchange-API.v1.yaml/paths/~1webhooks~1portals~1shipments~1booking-confirmation/post)
    Call this method to confirm a shipment you have received via our Receive a Shipment webhook and let your portal users know their instruction has been accepted.



    [Post Milestone Update](./QwykPortals-Shipment-Exchange-API.v1.yaml/paths/~1webhooks~1portals~1shipments~1timeline-event/post)
    Update shipment milestones through the method by posting a milestone ID along with timestamps so we can update your shipment's status.
servers:
  - url: 'https://api.qwykportals.com'
    description: QwykPortals API (stable)
  - url: 'https://api.next.qwykportals.com'
    description: QwykPortals API (next)
paths:
  /webhooks/portals/shipments/timeline-event:
    post:
      summary: Post Milestone Update
      operationId: post-webhooks-portals-shipments-booking-confirmation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
      security:
        - Bearer Token: []
      description: ''
      tags:
        - Methods
      parameters:
        - schema:
            type: string
            example: 'Bearer [YOUR TOKEN]'
          in: header
          name: Authentication
          description: Pre-assigned bearer token
          required: true
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                doc_type:
                  type: string
                  default: event_json
                version:
                  type: string
                  default: '1.0'
                events:
                  type: array
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/ShipmentEvent'
              required:
                - doc_type
                - version
                - events
        description: ''
    parameters: []
  /webhooks/portals/shipments/booking-confirmation:
    post:
      summary: Post Booking Confirmation
      operationId: post-webhooks-portals-shipments-timeline-event
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
      parameters:
        - schema:
            type: string
            example: 'Bearer [YOUR TOKEN]'
          in: header
          name: Authentication
          required: true
          description: Pre-assigned bearer token
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          description: ''
          required: true
      security:
        - Bearer Token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                version:
                  type: string
                  default: '1.0'
                doc_type:
                  type: string
                  default: chainio_booking_response
                booking_responses:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    properties:
                      notes:
                        type: string
                        example: Booking accepted
                      requesting_party_shipment_reference:
                        type: string
                        description: Qwyk's internal shipment ID
                        format: uuid
                        example: f4d2a948-219d-4370-8f4e-b2a8a5ae0ba2
                      responding_party_shipment_reference:
                        type: string
                        maxLength: 255
                        description: Your shipment reference / booking number
                        example: BOL123048882
                      response_date:
                        type: string
                        format: date-time
                        example: '2020-01-29T08:30:07.599Z'
                      response_type:
                        type: string
                        enum:
                          - accept
                          - reject
                        default: accept
                        example: accept
                      transmission_uid:
                        type: string
                    required:
                      - notes
                      - requesting_party_shipment_reference
                      - responding_party_shipment_reference
                      - response_date
                      - response_type
              required:
                - version
                - doc_type
                - booking_responses
      description: ''
      tags:
        - Methods
      deprecated: true
    parameters: []
  '/{your-endpoint}':
    parameters:
      - schema:
          type: string
        name: your-endpoint
        in: path
        required: true
        description: 'You''ll define your own server address and endpoint, the server address in this example must be ignored.'
    post:
      summary: Receive a new Shipment
      operationId: post-your-endpoint
      responses:
        '200':
          description: OK
      tags:
        - Webhooks
      description: 'The endpoint operates as a webhook. We will call an appropriately configured address at your end using a predefined body, but variable headers.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentJson'
            examples:
              Example:
                value:
                  doc_type: shipment_json
                  version: '1.6'
                  shipments:
                    - source_account_id: 1
                      source_system_uid: 9308bf1e41ff4f5898b856465320fa93
                      transmission_uid: 605c3dbbe176b737cc608cda
                      sent_date: '2021-03-25T07:37:31+00:00'
                      booking_submitted_actual: '2021-03-25T07:37:31+00:00'
                      created_by:
                        email: martyn@qwyk.io
                        first_name: Martyn Verhaegen
                        last_name: null
                        username: '1'
                      created_on: '2021-03-25T07:37:30+00:00'
                      forwarder_controlling_company_code: QWYK
                      forwarder_controlling_branch_code: RTM
                      agent_reference: null
                      shipper_reference: null
                      consignee_reference: null
                      forwarder_reference: null
                      house_bill: null
                      master_bill: null
                      lading_port:
                        unlocode: NLRTM
                        description: 'Rotterdam, ZH, NL'
                      arrival_port:
                        unlocode: SGSIN
                        description: 'Singapore, SG'
                      final_destination_port:
                        unlocode: SGSIN
                        description: 'Singapore, SG'
                      ship_from: null
                      shipper:
                        name: Qwyk
                        address_1: Nieuwstraat 7
                        address_2: null
                        address_type: null
                        postal_code: 3311XR
                        city: Dordrecht
                        state: null
                        state_name: ZH
                        country: NL
                        country_name: null
                        phone_number: '624164853'
                        email: martyn@qwyk.io
                        unlocode: null
                        source_party_id: '1'
                        target_party_id: CUSTOMER_ID
                      consignor:
                        name: Qwyk
                        address_1: Nieuwstraat 7
                        address_2: null
                        address_type: null
                        postal_code: 3311XR
                        city: Dordrecht
                        state: ZH
                        state_name: ZH
                        country: NL
                        country_name: Netherlands (the)
                        contact_name: Martyn Verhaegen
                        phone_number: '624164853'
                        email: martyn@qwyk.io
                        unlocode: NLDOR
                        source_party_id: 42
                        target_party_id: CUSTOMER_ID
                      consignee:
                        name: EAGLE COPTERS HOLLAND
                        address_1: 'AERODROMO DE CHICUREO,CAMINO GUAY-GUAY S/N'
                        address_2: COLINA
                        address_type: null
                        postal_code: '9340000'
                        city: SANTIAGO
                        state: RM
                        state_name: RM
                        country: NL
                        country_name: Netherlands (the)
                        contact_name: null
                        phone_number: null
                        email: null
                        unlocode: CLSCL
                        source_party_id: 43
                        target_party_id: null
                      notify_party:
                        name: EAGLE COPTERS HOLLAND
                        address_1: 'AERODROMO DE CHICUREO,CAMINO GUAY-GUAY S/N'
                        address_2: COLINA
                        address_type: null
                        postal_code: '9340000'
                        city: SANTIAGO
                        state: RM
                        state_name: RM
                        country: NL
                        country_name: Netherlands (the)
                        contact_name: null
                        phone_number: null
                        email: null
                        unlocode: CLSCL
                        source_party_id: 44
                        target_party_id: null
                      ship_to: null
                      importer_of_record:
                        name: Qwyk
                        address_1: Nieuwstraat 7
                        address_2: null
                        address_type: null
                        postal_code: 3311XR
                        city: Dordrecht
                        state: null
                        state_name: ZH
                        country: NL
                        country_name: null
                        contact_name: Martyn Verhaegen
                        phone_number: '624164853'
                        email: martyn@qwyk.io
                        unlocode: null
                        source_party_id: '1'
                        target_party_id: CUSTOMER_ID
                      transport_mode: SEA
                      vessel_name: CMA CGM ANTOINE DE SAINT EXUPERY
                      voyage_number: 0FL8ME1MA
                      departure_estimated: '2021-03-30T00:00:00+00:00'
                      arrival_port_estimated: '2021-04-21T00:00:00+00:00'
                      cutoff_time_bol: null
                      cutoff_time_physical: '2021-03-27T00:00:00+00:00'
                      containerization_type: fcl
                      cargo_ready_estimated: '2021-03-25T07:05:27+00:00'
                      carrier_instructions: These are some notes
                      freight_payment_terms: PREPAID
                      inco_term: EXW
                      notes:
                        - note_type: BOOKING MESSAGE
                          body: 'Booking placed using QwykPortals, retrieve this shipment at http://localhost:4200/shipments/9308bf1e-41ff-4f58-98b8-56465320fa93'
                        - note_type: BOOKING INSTRUCTIONS
                          body: These are some notes
                      revenue_invoices:
                        - bill_to_id: CUSTOMER_ID
                          service_invoice_uid: 9308bf1e-4ba5-481e-9b29-c871b4e0996d
                          currency: EUR
                          total_due: 995
                          invoice_lines:
                            - charge_code: OFR
                              currency: EUR
                              description: Freight Charges (freight)
                              quantity: 1
                              unit_price: 995
                              total_cost: 995
                      containers:
                        - container_number: null
                          delivery_mode: null
                          size_code: 20G0
                          source_container_id: 22
                          type_code: 20GP
                      package_group:
                        - chargeable_weight_kgs: null
                          commodity_type: null
                          description_of_goods: Freight All Kinds (FAK)
                          gross_weight_kgs: 0
                          marks_and_numbers: null
                          pack_items: null
                          package_height_cms: null
                          package_length_cms: null
                          package_width_cms: null
                          package_quantity: 1
                          package_type_code: CN
                          package_type_description: 20' Container
                          product_code: null
                          product_import_hts: null
                          source_container_id: 22
                          source_package_group_id: 22
                          volume_cbms: 0
                      shipment_legs:
                        - leg_sequence_number: 1
                          leg_type: Main
                          transport_mode: SEA
                          carrier_scac: null
                          vessel_name: CMA CGM ANTOINE DE SAINT EXUPERY
                          voyage_number: 0FL8ME1MA
                          departure_estimated: '2021-03-30T00:00:00+00:00'
                          lading_port:
                            unlocode: NLRTM
                            description: 'Rotterdam, ZH, NL'
                          arrival_estimated: '2021-04-21T00:00:00+00:00'
                          arrival_port:
                            unlocode: SGSIN
                            description: 'Singapore, SG'
                      attachments:
                        - content: BASE64 ENCODED FILE
                          file_name: testpdf.pdf
                          file_type_code: null
                          file_type_description: Test PDF
                          media_type: application/pdf
      parameters:
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          required: true
        - schema:
            type: string
          in: header
          name: '[Any]'
          description: 'Any set of headers can be configured for you to receive, including API tokens.'
components:
  schemas:
    WebhookResponse:
      title: WebhookResponse
      type: object
      x-tags:
        - Models
      properties:
        transactionId:
          type: string
          description: Qwyk transaction id
          format: uuid
        message:
          type: string
    ShipmentEvent:
      title: ShipmentEvent
      type: object
      x-tags:
        - Models
      properties:
        source_system_shipment_uid:
          type: string
          description: Qwyk's shipment id
        event_code:
          type: string
          description: To be mapped during setup
        estimated_date:
          type:
            - string
            - 'null'
          format: date-time
        actual_date:
          type:
            - string
            - 'null'
          format: date-time
        notes:
          type:
            - string
            - 'null'
        vessel_name:
          type:
            - string
            - 'null'
          maxLength: 191
        voyage_number:
          type:
            - string
            - 'null'
          maxLength: 191
        house_bill:
          type:
            - string
            - 'null'
          maxLength: 191
        master_bill:
          type:
            - string
            - 'null'
          maxLength: 191
        forwarder_reference:
          type:
            - string
            - 'null'
          maxLength: 191
        event_unlocode:
          type: object
          properties:
            unlocode:
              type: string
              minLength: 5
              maxLength: 5
            description:
              type: string
        transmission_uid:
          type: string
      required:
        - source_system_shipment_uid
        - event_code
    Shipment:
      description: ''
      type: object
      properties:
        doc_type:
          type: string
          minLength: 1
        version:
          type: string
          minLength: 1
        shipments:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            required:
              - source_account_id
              - source_system_uid
              - transmission_uid
              - sent_date
              - booking_submitted_actual
              - created_on
              - forwarder_controlling_company_code
              - forwarder_controlling_branch_code
              - transport_mode
              - vessel_name
              - voyage_number
              - departure_estimated
              - arrival_port_estimated
              - cutoff_time_physical
              - containerization_type
              - cargo_ready_estimated
              - carrier_instructions
              - freight_payment_terms
              - inco_term
            properties:
              source_account_id:
                type: number
              source_system_uid:
                type: string
                minLength: 1
              transmission_uid:
                type: string
                minLength: 1
              sent_date:
                type: string
                minLength: 1
              booking_submitted_actual:
                type: string
                minLength: 1
              created_by:
                type: object
                properties:
                  email:
                    type: string
                    minLength: 1
                  first_name:
                    type: string
                    minLength: 1
                  last_name: {}
                  username:
                    type: string
                    minLength: 1
                required:
                  - email
                  - first_name
                  - username
              created_on:
                type: string
                minLength: 1
              forwarder_controlling_company_code:
                type: string
                minLength: 1
              forwarder_controlling_branch_code:
                type: string
                minLength: 1
              agent_reference: {}
              shipper_reference: {}
              consignee_reference: {}
              forwarder_reference: {}
              house_bill: {}
              master_bill: {}
              lading_port:
                type: object
                properties:
                  unlocode:
                    type: string
                    minLength: 1
                  description:
                    type: string
                    minLength: 1
                required:
                  - unlocode
                  - description
              arrival_port:
                type: object
                properties:
                  unlocode:
                    type: string
                    minLength: 1
                  description:
                    type: string
                    minLength: 1
                required:
                  - unlocode
                  - description
              final_destination_port:
                type: object
                properties:
                  unlocode:
                    type: string
                    minLength: 1
                  description:
                    type: string
                    minLength: 1
                required:
                  - unlocode
                  - description
              ship_from: {}
              shipper:
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  address_1:
                    type: string
                    minLength: 1
                  address_2: {}
                  address_type: {}
                  postal_code:
                    type: string
                    minLength: 1
                  city:
                    type: string
                    minLength: 1
                  state: {}
                  state_name:
                    type: string
                    minLength: 1
                  country:
                    type: string
                    minLength: 1
                  country_name: {}
                  phone_number:
                    type: string
                    minLength: 1
                  email:
                    type: string
                    minLength: 1
                  unlocode: {}
                  source_party_id:
                    type: string
                    minLength: 1
                  target_party_id:
                    type: string
                    minLength: 1
                required:
                  - name
                  - address_1
                  - postal_code
                  - city
                  - state_name
                  - country
                  - phone_number
                  - email
                  - source_party_id
                  - target_party_id
              consignor:
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  address_1:
                    type: string
                    minLength: 1
                  address_2: {}
                  address_type: {}
                  postal_code:
                    type: string
                    minLength: 1
                  city:
                    type: string
                    minLength: 1
                  state:
                    type: string
                    minLength: 1
                  state_name:
                    type: string
                    minLength: 1
                  country:
                    type: string
                    minLength: 1
                  country_name:
                    type: string
                    minLength: 1
                  contact_name:
                    type: string
                    minLength: 1
                  phone_number:
                    type: string
                    minLength: 1
                  email:
                    type: string
                    minLength: 1
                  unlocode:
                    type: string
                    minLength: 1
                  source_party_id:
                    type: number
                  target_party_id:
                    type: string
                    minLength: 1
                required:
                  - name
                  - address_1
                  - postal_code
                  - city
                  - state
                  - state_name
                  - country
                  - country_name
                  - contact_name
                  - phone_number
                  - email
                  - unlocode
                  - source_party_id
                  - target_party_id
              consignee:
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  address_1:
                    type: string
                    minLength: 1
                  address_2:
                    type: string
                    minLength: 1
                  address_type: {}
                  postal_code:
                    type: string
                    minLength: 1
                  city:
                    type: string
                    minLength: 1
                  state:
                    type: string
                    minLength: 1
                  state_name:
                    type: string
                    minLength: 1
                  country:
                    type: string
                    minLength: 1
                  country_name:
                    type: string
                    minLength: 1
                  contact_name: {}
                  phone_number: {}
                  email: {}
                  unlocode:
                    type: string
                    minLength: 1
                  source_party_id:
                    type: number
                  target_party_id: {}
                required:
                  - name
                  - address_1
                  - address_2
                  - postal_code
                  - city
                  - state
                  - state_name
                  - country
                  - country_name
                  - unlocode
                  - source_party_id
              notify_party:
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  address_1:
                    type: string
                    minLength: 1
                  address_2:
                    type: string
                    minLength: 1
                  address_type: {}
                  postal_code:
                    type: string
                    minLength: 1
                  city:
                    type: string
                    minLength: 1
                  state:
                    type: string
                    minLength: 1
                  state_name:
                    type: string
                    minLength: 1
                  country:
                    type: string
                    minLength: 1
                  country_name:
                    type: string
                    minLength: 1
                  contact_name: {}
                  phone_number: {}
                  email: {}
                  unlocode:
                    type: string
                    minLength: 1
                  source_party_id:
                    type: number
                  target_party_id: {}
                required:
                  - name
                  - address_1
                  - address_2
                  - postal_code
                  - city
                  - state
                  - state_name
                  - country
                  - country_name
                  - unlocode
                  - source_party_id
              ship_to: {}
              importer_of_record:
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  address_1:
                    type: string
                    minLength: 1
                  address_2: {}
                  address_type: {}
                  postal_code:
                    type: string
                    minLength: 1
                  city:
                    type: string
                    minLength: 1
                  state: {}
                  state_name:
                    type: string
                    minLength: 1
                  country:
                    type: string
                    minLength: 1
                  country_name: {}
                  contact_name:
                    type: string
                    minLength: 1
                  phone_number:
                    type: string
                    minLength: 1
                  email:
                    type: string
                    minLength: 1
                  unlocode: {}
                  source_party_id:
                    type: string
                    minLength: 1
                  target_party_id:
                    type: string
                    minLength: 1
                required:
                  - name
                  - address_1
                  - postal_code
                  - city
                  - state_name
                  - country
                  - contact_name
                  - phone_number
                  - email
                  - source_party_id
                  - target_party_id
              transport_mode:
                type: string
                minLength: 1
              vessel_name:
                type: string
                minLength: 1
              voyage_number:
                type: string
                minLength: 1
              departure_estimated:
                type: string
                minLength: 1
              arrival_port_estimated:
                type: string
                minLength: 1
              cutoff_time_bol: {}
              cutoff_time_physical:
                type: string
                minLength: 1
              containerization_type:
                type: string
                minLength: 1
              cargo_ready_estimated:
                type: string
                minLength: 1
              carrier_instructions:
                type: string
                minLength: 1
              freight_payment_terms:
                type: string
                minLength: 1
              inco_term:
                type: string
                minLength: 1
              notes:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  required:
                    - note_type
                    - body
                  properties:
                    note_type:
                      type: string
                      minLength: 1
                    body:
                      type: string
                      minLength: 1
              revenue_invoices:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  required:
                    - bill_to_id
                    - service_invoice_uid
                    - currency
                    - total_due
                  properties:
                    bill_to_id:
                      type: string
                      minLength: 1
                    service_invoice_uid:
                      type: string
                      minLength: 1
                    currency:
                      type: string
                      minLength: 1
                    total_due:
                      type: number
                    invoice_lines:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        required:
                          - charge_code
                          - currency
                          - description
                          - quantity
                          - unit_price
                          - total_cost
                        properties:
                          charge_code:
                            type: string
                            minLength: 1
                          currency:
                            type: string
                            minLength: 1
                          description:
                            type: string
                            minLength: 1
                          quantity:
                            type: number
                          unit_price:
                            type: number
                          total_cost:
                            type: number
              containers:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  required:
                    - size_code
                    - source_container_id
                    - type_code
                  properties:
                    container_number: {}
                    delivery_mode: {}
                    size_code:
                      type: string
                      minLength: 1
                    source_container_id:
                      type: number
                    type_code:
                      type: string
                      minLength: 1
              package_group:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  required:
                    - description_of_goods
                    - gross_weight_kgs
                    - package_quantity
                    - package_type_code
                    - package_type_description
                    - source_container_id
                    - source_package_group_id
                    - volume_cbms
                  properties:
                    chargeable_weight_kgs: {}
                    commodity_type: {}
                    description_of_goods:
                      type: string
                      minLength: 1
                    gross_weight_kgs:
                      type: number
                    marks_and_numbers: {}
                    pack_items: {}
                    package_height_cms: {}
                    package_length_cms: {}
                    package_width_cms: {}
                    package_quantity:
                      type: number
                    package_type_code:
                      type: string
                      minLength: 1
                    package_type_description:
                      type: string
                      minLength: 1
                    product_code: {}
                    product_import_hts: {}
                    source_container_id:
                      type: number
                    source_package_group_id:
                      type: number
                    volume_cbms:
                      type: number
              shipment_legs:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  required:
                    - leg_sequence_number
                    - leg_type
                    - transport_mode
                    - vessel_name
                    - voyage_number
                    - departure_estimated
                    - arrival_estimated
                  properties:
                    leg_sequence_number:
                      type: number
                    leg_type:
                      type: string
                      minLength: 1
                    transport_mode:
                      type: string
                      minLength: 1
                    carrier_scac: {}
                    vessel_name:
                      type: string
                      minLength: 1
                    voyage_number:
                      type: string
                      minLength: 1
                    departure_estimated:
                      type: string
                      minLength: 1
                    lading_port:
                      type: object
                      properties:
                        unlocode:
                          type: string
                          minLength: 1
                        description:
                          type: string
                          minLength: 1
                      required:
                        - unlocode
                        - description
                    arrival_estimated:
                      type: string
                      minLength: 1
                    arrival_port:
                      type: object
                      properties:
                        unlocode:
                          type: string
                          minLength: 1
                        description:
                          type: string
                          minLength: 1
                      required:
                        - unlocode
                        - description
              attachments:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  required:
                    - content
                    - file_name
                    - file_type_description
                    - media_type
                  properties:
                    content:
                      type: string
                      minLength: 1
                    file_name:
                      type: string
                      minLength: 1
                    file_type_code: {}
                    file_type_description:
                      type: string
                      minLength: 1
                    media_type:
                      type: string
                      minLength: 1
      required:
        - doc_type
        - version
        - shipments
      x-examples:
        example-1:
          doc_type: string
          version: string
          shipments:
            - source_account_id: 0
              source_system_uid: string
              transmission_uid: string
              sent_date: string
              booking_submitted_actual: string
              created_by:
                email: string
                first_name: string
                last_name: null
                username: string
              created_on: string
              forwarder_controlling_company_code: string
              forwarder_controlling_branch_code: string
              agent_reference: null
              shipper_reference: null
              consignee_reference: null
              forwarder_reference: null
              house_bill: null
              master_bill: null
              lading_port:
                unlocode: string
                description: string
              arrival_port:
                unlocode: string
                description: string
              final_destination_port:
                unlocode: string
                description: string
              ship_from: null
              shipper:
                name: string
                address_1: string
                address_2: null
                address_type: null
                postal_code: string
                city: string
                state: null
                state_name: string
                country: string
                country_name: null
                phone_number: string
                email: string
                unlocode: null
                source_party_id: string
                target_party_id: string
              consignor:
                name: string
                address_1: string
                address_2: null
                address_type: null
                postal_code: string
                city: string
                state: string
                state_name: string
                country: string
                country_name: string
                contact_name: string
                phone_number: string
                email: string
                unlocode: string
                source_party_id: 0
                target_party_id: string
              consignee:
                name: string
                address_1: string
                address_2: string
                address_type: null
                postal_code: string
                city: string
                state: string
                state_name: string
                country: string
                country_name: string
                contact_name: null
                phone_number: null
                email: null
                unlocode: string
                source_party_id: 0
                target_party_id: null
              notify_party:
                name: string
                address_1: string
                address_2: string
                address_type: null
                postal_code: string
                city: string
                state: string
                state_name: string
                country: string
                country_name: string
                contact_name: null
                phone_number: null
                email: null
                unlocode: string
                source_party_id: 0
                target_party_id: null
              ship_to: null
              importer_of_record:
                name: string
                address_1: string
                address_2: null
                address_type: null
                postal_code: string
                city: string
                state: null
                state_name: string
                country: string
                country_name: null
                contact_name: string
                phone_number: string
                email: string
                unlocode: null
                source_party_id: string
                target_party_id: string
              transport_mode: string
              vessel_name: string
              voyage_number: string
              departure_estimated: string
              arrival_port_estimated: string
              cutoff_time_bol: null
              cutoff_time_physical: string
              containerization_type: string
              cargo_ready_estimated: string
              carrier_instructions: string
              freight_payment_terms: string
              inco_term: string
              notes:
                - note_type: string
                  body: string
              revenue_invoices:
                - bill_to_id: string
                  service_invoice_uid: string
                  currency: string
                  total_due: 0
                  invoice_lines:
                    - charge_code: string
                      currency: string
                      description: string
                      quantity: 0
                      unit_price: 0
                      total_cost: 0
              containers:
                - container_number: null
                  delivery_mode: null
                  size_code: string
                  source_container_id: 0
                  type_code: string
              package_group:
                - chargeable_weight_kgs: null
                  commodity_type: null
                  description_of_goods: string
                  gross_weight_kgs: 0
                  marks_and_numbers: null
                  pack_items: null
                  package_height_cms: null
                  package_length_cms: null
                  package_width_cms: null
                  package_quantity: 0
                  package_type_code: string
                  package_type_description: string
                  product_code: null
                  product_import_hts: null
                  source_container_id: 0
                  source_package_group_id: 0
                  volume_cbms: 0
              shipment_legs:
                - leg_sequence_number: 0
                  leg_type: string
                  transport_mode: string
                  carrier_scac: null
                  vessel_name: string
                  voyage_number: string
                  departure_estimated: string
                  lading_port:
                    unlocode: string
                    description: string
                  arrival_estimated: string
                  arrival_port:
                    unlocode: string
                    description: string
              attachments:
                - content: string
                  file_name: string
                  file_type_code: null
                  file_type_description: string
                  media_type: string
    ShipmentJson:
      description: ''
      type: object
      properties:
        doc_type:
          type: string
          minLength: 1
        version:
          type: string
          minLength: 1
        shipments:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            required:
              - source_account_id
              - source_system_uid
              - transmission_uid
              - sent_date
              - booking_submitted_actual
              - created_on
              - forwarder_controlling_company_code
              - forwarder_controlling_branch_code
              - transport_mode
              - vessel_name
              - voyage_number
              - departure_estimated
              - arrival_port_estimated
              - cutoff_time_physical
              - containerization_type
              - cargo_ready_estimated
              - carrier_instructions
              - freight_payment_terms
              - inco_term
            properties:
              source_account_id:
                type: number
              source_system_uid:
                type: string
                minLength: 1
              transmission_uid:
                type: string
                minLength: 1
              sent_date:
                type: string
                minLength: 1
              booking_submitted_actual:
                type: string
                minLength: 1
              created_by:
                type: object
                properties:
                  email:
                    type: string
                    minLength: 1
                  first_name:
                    type: string
                    minLength: 1
                  last_name: {}
                  username:
                    type: string
                    minLength: 1
                required:
                  - email
                  - first_name
                  - username
              created_on:
                type: string
                minLength: 1
              forwarder_controlling_company_code:
                type: string
                minLength: 1
              forwarder_controlling_branch_code:
                type: string
                minLength: 1
              agent_reference: {}
              shipper_reference: {}
              consignee_reference: {}
              forwarder_reference: {}
              house_bill: {}
              master_bill: {}
              lading_port:
                type: object
                properties:
                  unlocode:
                    type: string
                    minLength: 1
                  description:
                    type: string
                    minLength: 1
                required:
                  - unlocode
                  - description
              arrival_port:
                type: object
                properties:
                  unlocode:
                    type: string
                    minLength: 1
                  description:
                    type: string
                    minLength: 1
                required:
                  - unlocode
                  - description
              final_destination_port:
                type: object
                properties:
                  unlocode:
                    type: string
                    minLength: 1
                  description:
                    type: string
                    minLength: 1
                required:
                  - unlocode
                  - description
              ship_from: {}
              shipper:
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  address_1:
                    type: string
                    minLength: 1
                  address_2: {}
                  address_type: {}
                  postal_code:
                    type: string
                    minLength: 1
                  city:
                    type: string
                    minLength: 1
                  state: {}
                  state_name:
                    type: string
                    minLength: 1
                  country:
                    type: string
                    minLength: 1
                  country_name: {}
                  phone_number:
                    type: string
                    minLength: 1
                  email:
                    type: string
                    minLength: 1
                  unlocode: {}
                  source_party_id:
                    type: string
                    minLength: 1
                  target_party_id:
                    type: string
                    minLength: 1
                required:
                  - name
                  - address_1
                  - postal_code
                  - city
                  - state_name
                  - country
                  - phone_number
                  - email
                  - source_party_id
                  - target_party_id
              consignor:
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  address_1:
                    type: string
                    minLength: 1
                  address_2: {}
                  address_type: {}
                  postal_code:
                    type: string
                    minLength: 1
                  city:
                    type: string
                    minLength: 1
                  state:
                    type: string
                    minLength: 1
                  state_name:
                    type: string
                    minLength: 1
                  country:
                    type: string
                    minLength: 1
                  country_name:
                    type: string
                    minLength: 1
                  contact_name:
                    type: string
                    minLength: 1
                  phone_number:
                    type: string
                    minLength: 1
                  email:
                    type: string
                    minLength: 1
                  unlocode:
                    type: string
                    minLength: 1
                  source_party_id:
                    type: number
                  target_party_id:
                    type: string
                    minLength: 1
                required:
                  - name
                  - address_1
                  - postal_code
                  - city
                  - state
                  - state_name
                  - country
                  - country_name
                  - contact_name
                  - phone_number
                  - email
                  - unlocode
                  - source_party_id
                  - target_party_id
              consignee:
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  address_1:
                    type: string
                    minLength: 1
                  address_2:
                    type: string
                    minLength: 1
                  address_type: {}
                  postal_code:
                    type: string
                    minLength: 1
                  city:
                    type: string
                    minLength: 1
                  state:
                    type: string
                    minLength: 1
                  state_name:
                    type: string
                    minLength: 1
                  country:
                    type: string
                    minLength: 1
                  country_name:
                    type: string
                    minLength: 1
                  contact_name: {}
                  phone_number: {}
                  email: {}
                  unlocode:
                    type: string
                    minLength: 1
                  source_party_id:
                    type: number
                  target_party_id: {}
                required:
                  - name
                  - address_1
                  - address_2
                  - postal_code
                  - city
                  - state
                  - state_name
                  - country
                  - country_name
                  - unlocode
                  - source_party_id
              notify_party:
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  address_1:
                    type: string
                    minLength: 1
                  address_2:
                    type: string
                    minLength: 1
                  address_type: {}
                  postal_code:
                    type: string
                    minLength: 1
                  city:
                    type: string
                    minLength: 1
                  state:
                    type: string
                    minLength: 1
                  state_name:
                    type: string
                    minLength: 1
                  country:
                    type: string
                    minLength: 1
                  country_name:
                    type: string
                    minLength: 1
                  contact_name: {}
                  phone_number: {}
                  email: {}
                  unlocode:
                    type: string
                    minLength: 1
                  source_party_id:
                    type: number
                  target_party_id: {}
                required:
                  - name
                  - address_1
                  - address_2
                  - postal_code
                  - city
                  - state
                  - state_name
                  - country
                  - country_name
                  - unlocode
                  - source_party_id
              ship_to: {}
              importer_of_record:
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  address_1:
                    type: string
                    minLength: 1
                  address_2: {}
                  address_type: {}
                  postal_code:
                    type: string
                    minLength: 1
                  city:
                    type: string
                    minLength: 1
                  state: {}
                  state_name:
                    type: string
                    minLength: 1
                  country:
                    type: string
                    minLength: 1
                  country_name: {}
                  contact_name:
                    type: string
                    minLength: 1
                  phone_number:
                    type: string
                    minLength: 1
                  email:
                    type: string
                    minLength: 1
                  unlocode: {}
                  source_party_id:
                    type: string
                    minLength: 1
                  target_party_id:
                    type: string
                    minLength: 1
                required:
                  - name
                  - address_1
                  - postal_code
                  - city
                  - state_name
                  - country
                  - contact_name
                  - phone_number
                  - email
                  - source_party_id
                  - target_party_id
              transport_mode:
                type: string
                minLength: 1
              vessel_name:
                type: string
                minLength: 1
              voyage_number:
                type: string
                minLength: 1
              departure_estimated:
                type: string
                minLength: 1
              arrival_port_estimated:
                type: string
                minLength: 1
              cutoff_time_bol: {}
              cutoff_time_physical:
                type: string
                minLength: 1
              containerization_type:
                type: string
                minLength: 1
              cargo_ready_estimated:
                type: string
                minLength: 1
              carrier_instructions:
                type: string
                minLength: 1
              freight_payment_terms:
                type: string
                minLength: 1
              inco_term:
                type: string
                minLength: 1
              notes:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  required:
                    - note_type
                    - body
                  properties:
                    note_type:
                      type: string
                      minLength: 1
                    body:
                      type: string
                      minLength: 1
              revenue_invoices:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  required:
                    - bill_to_id
                    - service_invoice_uid
                    - currency
                    - total_due
                  properties:
                    bill_to_id:
                      type: string
                      minLength: 1
                    service_invoice_uid:
                      type: string
                      minLength: 1
                    currency:
                      type: string
                      minLength: 1
                    total_due:
                      type: number
                    invoice_lines:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        required:
                          - charge_code
                          - currency
                          - description
                          - quantity
                          - unit_price
                          - total_cost
                        properties:
                          charge_code:
                            type: string
                            minLength: 1
                          currency:
                            type: string
                            minLength: 1
                          description:
                            type: string
                            minLength: 1
                          quantity:
                            type: number
                          unit_price:
                            type: number
                          total_cost:
                            type: number
              containers:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  required:
                    - size_code
                    - source_container_id
                    - type_code
                  properties:
                    container_number: {}
                    delivery_mode: {}
                    size_code:
                      type: string
                      minLength: 1
                    source_container_id:
                      type: number
                    type_code:
                      type: string
                      minLength: 1
              package_group:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  required:
                    - description_of_goods
                    - gross_weight_kgs
                    - package_quantity
                    - package_type_code
                    - package_type_description
                    - source_container_id
                    - source_package_group_id
                    - volume_cbms
                  properties:
                    chargeable_weight_kgs: {}
                    commodity_type: {}
                    description_of_goods:
                      type: string
                      minLength: 1
                    gross_weight_kgs:
                      type: number
                    marks_and_numbers: {}
                    pack_items: {}
                    package_height_cms: {}
                    package_length_cms: {}
                    package_width_cms: {}
                    package_quantity:
                      type: number
                    package_type_code:
                      type: string
                      minLength: 1
                    package_type_description:
                      type: string
                      minLength: 1
                    product_code: {}
                    product_import_hts: {}
                    source_container_id:
                      type: number
                    source_package_group_id:
                      type: number
                    volume_cbms:
                      type: number
              shipment_legs:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  required:
                    - leg_sequence_number
                    - leg_type
                    - transport_mode
                    - vessel_name
                    - voyage_number
                    - departure_estimated
                    - arrival_estimated
                  properties:
                    leg_sequence_number:
                      type: number
                    leg_type:
                      type: string
                      minLength: 1
                    transport_mode:
                      type: string
                      minLength: 1
                    carrier_scac: {}
                    vessel_name:
                      type: string
                      minLength: 1
                    voyage_number:
                      type: string
                      minLength: 1
                    departure_estimated:
                      type: string
                      minLength: 1
                    lading_port:
                      type: object
                      properties:
                        unlocode:
                          type: string
                          minLength: 1
                        description:
                          type: string
                          minLength: 1
                      required:
                        - unlocode
                        - description
                    arrival_estimated:
                      type: string
                      minLength: 1
                    arrival_port:
                      type: object
                      properties:
                        unlocode:
                          type: string
                          minLength: 1
                        description:
                          type: string
                          minLength: 1
                      required:
                        - unlocode
                        - description
              attachments:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  required:
                    - content
                    - file_name
                    - file_type_description
                    - media_type
                  properties:
                    content:
                      type: string
                      minLength: 1
                    file_name:
                      type: string
                      minLength: 1
                    file_type_code: {}
                    file_type_description:
                      type: string
                      minLength: 1
                    media_type:
                      type: string
                      minLength: 1
      required:
        - doc_type
        - version
        - shipments
      x-examples:
        example-1:
          doc_type: shipment_json
          version: '1.6'
          shipments:
            - source_account_id: 1
              source_system_uid: 9308bf1e41ff4f5898b856465320fa93
              transmission_uid: 605c3dbbe176b737cc608cda
              sent_date: '2021-03-25T07:37:31+00:00'
              booking_submitted_actual: '2021-03-25T07:37:31+00:00'
              created_by:
                email: martyn@qwyk.io
                first_name: Martyn Verhaegen
                last_name: null
                username: '1'
              created_on: '2021-03-25T07:37:30+00:00'
              forwarder_controlling_company_code: QWYK
              forwarder_controlling_branch_code: RTM
              agent_reference: null
              shipper_reference: null
              consignee_reference: null
              forwarder_reference: null
              house_bill: null
              master_bill: null
              lading_port:
                unlocode: NLRTM
                description: 'Rotterdam, ZH, NL'
              arrival_port:
                unlocode: SGSIN
                description: 'Singapore, SG'
              final_destination_port:
                unlocode: SGSIN
                description: 'Singapore, SG'
              ship_from: null
              shipper:
                name: Qwyk
                address_1: Nieuwstraat 7
                address_2: null
                address_type: null
                postal_code: 3311XR
                city: Dordrecht
                state: null
                state_name: ZH
                country: NL
                country_name: null
                phone_number: '624164853'
                email: martyn@qwyk.io
                unlocode: null
                source_party_id: '1'
                target_party_id: CUSTOMER_ID
              consignor:
                name: Qwyk
                address_1: Nieuwstraat 7
                address_2: null
                address_type: null
                postal_code: 3311XR
                city: Dordrecht
                state: ZH
                state_name: ZH
                country: NL
                country_name: Netherlands (the)
                contact_name: Martyn Verhaegen
                phone_number: '624164853'
                email: martyn@qwyk.io
                unlocode: NLDOR
                source_party_id: 42
                target_party_id: CUSTOMER_ID
              consignee:
                name: EAGLE COPTERS HOLLAND
                address_1: 'AERODROMO DE CHICUREO,CAMINO GUAY-GUAY S/N'
                address_2: COLINA
                address_type: null
                postal_code: '9340000'
                city: SANTIAGO
                state: RM
                state_name: RM
                country: NL
                country_name: Netherlands (the)
                contact_name: null
                phone_number: null
                email: null
                unlocode: CLSCL
                source_party_id: 43
                target_party_id: null
              notify_party:
                name: EAGLE COPTERS HOLLAND
                address_1: 'AERODROMO DE CHICUREO,CAMINO GUAY-GUAY S/N'
                address_2: COLINA
                address_type: null
                postal_code: '9340000'
                city: SANTIAGO
                state: RM
                state_name: RM
                country: NL
                country_name: Netherlands (the)
                contact_name: null
                phone_number: null
                email: null
                unlocode: CLSCL
                source_party_id: 44
                target_party_id: null
              ship_to: null
              importer_of_record:
                name: Qwyk
                address_1: Nieuwstraat 7
                address_2: null
                address_type: null
                postal_code: 3311XR
                city: Dordrecht
                state: null
                state_name: ZH
                country: NL
                country_name: null
                contact_name: Martyn Verhaegen
                phone_number: '624164853'
                email: martyn@qwyk.io
                unlocode: null
                source_party_id: '1'
                target_party_id: CUSTOMER_ID
              transport_mode: SEA
              vessel_name: CMA CGM ANTOINE DE SAINT EXUPERY
              voyage_number: 0FL8ME1MA
              departure_estimated: '2021-03-30T00:00:00+00:00'
              arrival_port_estimated: '2021-04-21T00:00:00+00:00'
              cutoff_time_bol: null
              cutoff_time_physical: '2021-03-27T00:00:00+00:00'
              containerization_type: fcl
              cargo_ready_estimated: '2021-03-25T07:05:27+00:00'
              carrier_instructions: These are some notes
              freight_payment_terms: PREPAID
              inco_term: EXW
              notes:
                - note_type: BOOKING MESSAGE
                  body: 'Booking placed using QwykPortals, retrieve this shipment at http://localhost:4200/shipments/9308bf1e-41ff-4f58-98b8-56465320fa93'
                - note_type: BOOKING INSTRUCTIONS
                  body: These are some notes
              revenue_invoices:
                - bill_to_id: CUSTOMER_ID
                  service_invoice_uid: 9308bf1e-4ba5-481e-9b29-c871b4e0996d
                  currency: EUR
                  total_due: 995
                  invoice_lines:
                    - charge_code: OFR
                      currency: EUR
                      description: Freight Charges (freight)
                      quantity: 1
                      unit_price: 995
                      total_cost: 995
              containers:
                - container_number: null
                  delivery_mode: null
                  size_code: 20G0
                  source_container_id: 22
                  type_code: 20GP
              package_group:
                - chargeable_weight_kgs: null
                  commodity_type: null
                  description_of_goods: Freight All Kinds (FAK)
                  gross_weight_kgs: 0
                  marks_and_numbers: null
                  pack_items: null
                  package_height_cms: null
                  package_length_cms: null
                  package_width_cms: null
                  package_quantity: 1
                  package_type_code: CN
                  package_type_description: 20' Container
                  product_code: null
                  product_import_hts: null
                  source_container_id: 22
                  source_package_group_id: 22
                  volume_cbms: 0
              shipment_legs:
                - leg_sequence_number: 1
                  leg_type: Main
                  transport_mode: SEA
                  carrier_scac: null
                  vessel_name: CMA CGM ANTOINE DE SAINT EXUPERY
                  voyage_number: 0FL8ME1MA
                  departure_estimated: '2021-03-30T00:00:00+00:00'
                  lading_port:
                    unlocode: NLRTM
                    description: 'Rotterdam, ZH, NL'
                  arrival_estimated: '2021-04-21T00:00:00+00:00'
                  arrival_port:
                    unlocode: SGSIN
                    description: 'Singapore, SG'
              attachments:
                - content: BASE64 ENCODED FILE
                  file_name: testpdf.pdf
                  file_type_code: null
                  file_type_description: Test PDF
                  media_type: application/pdf
    Port:
      title: Port
      type: object
      properties:
        locode:
          type: string
          minLength: 5
          maxLength: 5
          description: UN Locode of the port
        description:
          type: string
      required:
        - locode
      x-tags:
        - Models
    ShipmentAddress:
      title: ShipmentAddress
      type: object
      x-tags:
        - Models
      properties:
        name:
          type:
            - string
            - 'null'
        address_1:
          type:
            - string
            - 'null'
        address_2:
          type:
            - string
            - 'null'
        address_type:
          type:
            - string
            - 'null'
        postal_code:
          type:
            - string
            - 'null'
        city:
          type:
            - string
            - 'null'
        state:
          type:
            - string
            - 'null'
        state_name:
          type:
            - string
            - 'null'
        country:
          type:
            - string
            - 'null'
        country_name:
          type:
            - string
            - 'null'
        contact_name:
          type:
            - string
            - 'null'
        phone_number:
          type:
            - string
            - 'null'
        unlocode:
          type:
            - string
            - 'null'
        source_party_id:
          type: integer
        target_party_id:
          type:
            - string
            - 'null'
    ShipmentPackageGroup:
      title: ShipmentPackageGroup
      type: object
      x-tags:
        - Models
      properties:
        chargeable_weight_kgs:
          type:
            - number
            - 'null'
        commodity_type:
          type:
            - string
            - 'null'
        description_of_goods:
          type: string
        gross_weight_kgs:
          type:
            - number
            - 'null'
        marks_and_numbers:
          type:
            - string
            - 'null'
        pack_items:
          type: array
          items:
            type: object
            properties:
              customer_product_id:
                type:
                  - string
                  - 'null'
              customer_sku:
                type:
                  - string
                  - 'null'
              po_line_id:
                type:
                  - string
                  - 'null'
              po_number:
                type:
                  - string
                  - 'null'
              product_description:
                type:
                  - string
                  - 'null'
              product_import_hts:
                type:
                  - string
                  - 'null'
              product_name:
                type:
                  - string
                  - 'null'
              source_pack_item_id:
                type: integer
              source_po_line_id:
                type:
                  - string
                  - 'null'
              total_item_quantity:
                type:
                  - integer
                  - 'null'
              unit_of_measure:
                type:
                  - string
                  - 'null'
              unit_of_measure_description:
                type:
                  - string
                  - 'null'
        package_height_cms:
          type:
            - number
            - 'null'
        package_length_cms:
          type:
            - number
            - 'null'
        package_width_cms:
          type:
            - number
            - 'null'
        package_quantity:
          type: integer
        package_type_code:
          type: string
        package_type_description:
          type: string
        product_code:
          type:
            - string
            - 'null'
        product_import_hts:
          type:
            - string
            - 'null'
        source_container_id:
          type:
            - integer
            - 'null'
        source_package_group_id:
          type:
            - 'null'
            - integer
        volume_cbms:
          type:
            - number
            - 'null'
    ShipmentAttachment:
      title: ShipmentAttachment
      type: object
      x-tags:
        - Models
      properties:
        content:
          type: string
          description: BASE64 encoded file data
        file_name:
          type: string
        file_type_code:
          type: string
        file_type_description:
          type: string
        media_type:
          type: string
          description: File MIME type (e.g. application/pdf)
      required:
        - content
        - file_name
        - file_type_code
        - media_type
  securitySchemes:
    Bearer Token:
      name: Authentication
      type: apiKey
      in: header
      description: ''
