openapi: 3.0.0
info:
  title: Customer Portal API
  version: '3.0'
  contact:
    name: Support
    url: 'https://docs.qwykportals.com'
    email: support@qwyk.io
  termsOfService: 'http://docs.qwyk.io/docs/legal-terms-of-use.html'
  license:
    name: Proprietary
  description: ''
servers:
  - url: 'https://api.next.qwykportals.com/api/portals'
    description: Next branch
  - url: 'https://api.qwykportals.com/api/portals'
    description: Stable branch
paths:
  /quotations:
    post:
      summary: Create a new quotation
      operationId: post-quotations
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quotation'
              examples:
                Example:
                  value:
                    data:
                      id: 9170e41a-8309-49e5-91ae-23a4003132ff
                      owner:
                        id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
                        type: portals-user
                        name: Martyn Verhaegen
                        email: martyn@qwyk.io
                        team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
                        team_name: Qwyk Demo
                        job_title: Keyboard Monkey
                        company: Qwyk Demo
                        location: 'Dordrecht, Netherlands'
                      creator:
                        id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
                        type: portals-user
                        name: Martyn Verhaegen
                        email: martyn@qwyk.io
                        team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
                        team_name: Qwyk Demo
                        job_title: Keyboard Monkey
                        company: Qwyk Demo
                        location: 'Dordrecht, Netherlands'
                      request:
                        owner_reference: null
                        origin:
                          type: port
                          code: NLRTM
                          locode: NLRTM
                          name: 'Rotterdam, ZH'
                          country_code: NL
                        destination:
                          type: port
                          code: SGSIN
                          name: Singapore
                          locode: SGSIN
                          country_code: SG
                        transport_mode: OCEAN
                        load_type: fcl
                        cargo_ready: '2020-09-03T12:32:06+00:00'
                        commodity:
                          id: 1
                          code: FAK0
                          description: Freight All Kinds - Non Hazardous
                          is_preferred: 1
                        currency: EUR
                        additionals:
                          customs_clearance_origin: false
                          customs_clearance_destination: false
                          cargo_insurance: false
                          hazardous_cargo: false
                          liftgate_pickup: false
                          refrigerated: false
                          white_glove: false
                          residential_delivery: false
                          residential_pickup: false
                          liftgate_delivery: false
                          call_before_delivery: false
                          delivery_appointment_required: false
                          flatbed_required: false
                          limited_access_delivery: false
                          limited_access_pickup: false
                          stackable: false
                        packages:
                          - id: 223
                            quantity: 1
                            packaging:
                              id: 1
                              code: '20'
                              description: 20' Container
                              transport_mode: OCEAN
                              load_type: fcl
                            unit_weight: null
                            unit_volume: null
                            unit_length: null
                            unit_width: null
                            unit_height: null
                            uom: null
                            total_weight_kgs: 0
                            total_volume_cbm: 0
                        total_quantity: 1
                        total_weight_kgs: 0
                        total_volume_cbm: 0
                        created_at: '2020-09-03T13:41:33+00:00'
                      results: []
                      rate_requests: []
                      last_rate_request: null
                      shipments: []
                      booked_shipments: []
                      is_demo: false
                      is_owner: true
                      is_shared_with: false
                      shared_users: []
                      is_draft: null
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: object
                    properties:
                      '[property]':
                        type: array
                        items:
                          type: string
              examples:
                Example error:
                  value:
                    message: The given data was invalid.
                    errors:
                      origin.type:
                        - The origin.type field is required.
                      currency:
                        - The selected currency is invalid.
                      packages:
                        - packages can only have 1 item
      description: Creates a new quotation and auto-rates
      parameters:
        - schema:
            type: boolean
            default: 'true'
            example: 'true'
          in: query
          name: autorate
          description: Whether to auto-rate the quotation using the configured connections.
        - schema:
            type: string
            default: application/json
            example: application/json
          in: header
          name: Content-Type
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuotationRequest'
            examples:
              Example:
                value:
                  owner_reference: null
                  origin:
                    type: port
                    code: NLRTM
                    locode: NLRTM
                    name: 'Rotterdam, Netherlands'
                    country_code: NL
                  destination:
                    type: port
                    code: SGSIN
                    locode: SGSIN
                    name: 'Singapore, Singapore'
                    country_code: SG
                  transport_mode: OCEAN
                  load_type: fcl
                  cargo_ready: '2020-09-03T12:32:06.202Z'
                  commodity:
                    id: 1
                    code: FAK0
                    description: Freight All Kinds - Non Hazardous
                    is_preferred: 1
                  currency: EUR
                  packages:
                    - quantity: 1
                      packaging:
                        id: 1
                        code: '20'
                        description: 20' Container
                        transport_mode: OCEAN
                        load_type: fcl
                      unit_weight: null
                      unit_volume: null
                      unit_width: null
                      unit_length: null
                      unit_height: null
                      uom: null
                      id: 0
                  additionals:
                    customs_clearance_origin: false
                    customs_clearance_destination: false
                    cargo_insurance: false
                    hazardous_cargo: false
                    liftgate_pickup: false
                    refrigerated: false
                    white_glove: false
                    residential_delivery: false
                    residential_pickup: false
                    liftgate_delivery: false
                    call_before_delivery: false
                    delivery_appointment_required: false
                    flatbed_required: false
                    limited_access_delivery: false
                    limited_access_pickup: false
                    stackable: false
      tags:
        - Quotations
    get:
      summary: Get a user's quotations
      operationId: get-quotations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Quotation'
                  links:
                    $ref: ./QwykPortals-Masterdata-API.v1.yaml#/components/schemas/PaginationLinks
                  meta:
                    $ref: ./QwykPortals-Masterdata-API.v1.yaml#/components/schemas/PaginationMeta
              examples:
                example-1:
                  value:
                    data:
                      - id: 916268e3-4f6f-42d0-8248-491b56897794
                        owner:
                          id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
                          type: portals-users
                          name: Martyn Verhaegen
                          email: m@qwyk.io
                          team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
                          team_name: Qwyk
                          job_title: Keyboard Monkey
                          company: Qwyk
                          location: 'Dordrecht, Netherlands'
                        creator:
                          id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
                          type: portals-users
                          name: Martyn Verhaegen
                          email: m@qwyk.io
                          team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
                          team_name: Qwyk
                          job_title: Keyboard Monkey
                          company: Qwyk
                          location: 'Dordrecht, Netherlands'
                        request:
                          owner_reference: null
                          origin:
                            type: port
                            code: 'G:ChIJT08M2DIpxEcRhHVJ1WdmeNY|X:4.6689416|Y:51.8152357|C:NL|P:3311XR'
                            name: 'Rotterdam, Netherlands'
                            locode: NLRTM
                            country_code: NL
                          destination:
                            type: port
                            code: 'G:ChIJT08M2DIpxEcRhHVJ1WdmeNY|X:4.6689416|Y:51.8152357|C:NL|P:3311XR'
                            name: 'Rotterdam, Netherlands'
                            locode: NLRTM
                            country_code: NL
                          transport_mode: OCEAN
                          load_type: fcl
                          cargo_ready: '2020-08-03T12:32:06.202Z'
                          commodity:
                            id: 0
                            code: stri
                            description: string
                            is_preferred: null
                          currency: USD
                          packages:
                            - id: 0
                              quantity: 1
                              packaging:
                                id: 1
                                code: '20'
                                description: 20' Container
                                load_type: fcl
                                transport_mode: OCEAN
                              unit_weight: 300
                              unit_volume: 1.69
                              unit_width: 120
                              unit_length: 80
                              unit_height: 100
                              uom: metric
                          additionals:
                            customs_clearance_origin: false
                            customs_clearance_destination: false
                            cargo_insurance: true
                            hazardous_cargo: true
                            liftgate_pickup: true
                            refrigerated: true
                            white_glove: true
                            residential_delivery: true
                            residential_pickup: true
                            liftgate_delivery: true
                            call_before_delivery: true
                            delivery_appointment_required: true
                            flatbed_required: true
                            limited_access_delivery: true
                            limited_access_pickup: true
                            stackable: true
                          created_at: '2019-08-24T14:15:22Z'
                        results:
                          - id: 916268e3-4f6f-42d0-8248-491b56897794
                            quotation_id: 916268e3-4f6f-42d0-8248-491b56897794
                            transport_mode: OCEAN
                            load_type: fcl
                            carrier:
                              scac: MAEU
                              name: Maersk Line
                            carrier_name: Maersk Line
                            pol:
                              _id: 5e9c1dcb282811aa256bb8f3
                              locode: NLRTM
                              name: Rotterdam
                              display_name: 'Rotterdam, ZH'
                              name_wo_diacritics: Rotterdam
                              display_name_wo_diacritics: 'Rotterdam, ZH'
                              country_code: NL
                              country_name: Netherlands (the)
                              iata: RTM
                              subdivision: ZH
                              timezone: Europe/Amsterdam
                              latitude_dec: 51.95
                              longitude_dec: 4.5
                              latitude_dms: 5155N
                              longitude_dms: 00430E
                              location:
                                type: Point
                                coordinates:
                                  - 4.5
                                  - 4.5
                              position:
                                - 51.92
                                - 51.92
                              is_airport: true
                              is_borderxing: true
                              is_fixed_transport: true
                              is_icd: true
                              is_port: true
                              is_postal_exchange: true
                              is_rail_terminal: true
                              is_road_terminal: true
                            pod:
                              _id: 5e9c1dcb282811aa256bb8f3
                              locode: NLRTM
                              name: Rotterdam
                              display_name: 'Rotterdam, ZH'
                              name_wo_diacritics: Rotterdam
                              display_name_wo_diacritics: 'Rotterdam, ZH'
                              country_code: NL
                              country_name: Netherlands (the)
                              iata: RTM
                              subdivision: ZH
                              timezone: Europe/Amsterdam
                              latitude_dec: 51.95
                              longitude_dec: 4.5
                              latitude_dms: 5155N
                              longitude_dms: 00430E
                              location:
                                type: Point
                                coordinates:
                                  - 4.5
                                  - 4.5
                              position:
                                - 51.92
                                - 51.92
                              is_airport: true
                              is_borderxing: true
                              is_fixed_transport: true
                              is_icd: true
                              is_port: true
                              is_postal_exchange: true
                              is_rail_terminal: true
                              is_road_terminal: true
                            rate_name: APACWB Rates FAK
                            transit_time: 15
                            currency: USD
                            total_amount: 1400.5
                            breakdown:
                              - id: 1
                                segment: freight
                                charge_code: OFR
                                charge_description: Ocean Freight
                                base_currency: USD
                                base_rate: 1000
                                base_calculation:
                                  id: 1
                                  name: CONTAINER
                                  description: Charge that applies per number of containers
                                  is_percentage: true
                                base_minimum: 1000
                                total_amount: 1000
                                exchange_rate: 0.89
                                total_amount_quotation: 890
                                remarks: Here are some charge remarks
                            grouped_breakdown:
                              - sort: 1
                                group: freight
                                lines:
                                  - id: 1
                                    segment: freight
                                    charge_code: OFR
                                    charge_description: Ocean Freight
                                    base_currency: USD
                                    base_rate: 1000
                                    base_calculation:
                                      id: 1
                                      name: CONTAINER
                                      description: Charge that applies per number of containers
                                      is_percentage: true
                                    base_minimum: 1000
                                    total_amount: 1000
                                    exchange_rate: 0.89
                                    total_amount_quotation: 890
                                    remarks: Here are some charge remarks
                                total: 450
                            valid_from: '2020-08-30T23:59:59+00:00'
                            valid_until: '2020-08-30T23:59:59+00:00'
                            remarks: Here are some rate remarks
                            created_at: '2020-08-30T23:59:59+00:00'
                        rate_requests:
                          - id: 916e6a39-a21c-46ba-8831-5d37fde0f3a2
                            quotation_id: 916268e3-3ff9-4871-a16e-8a2cb135e5e5
                            creator:
                              id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
                              type: portals-users
                              name: Martyn Verhaegen
                              email: m@qwyk.io
                              team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
                              team_name: Qwyk
                              job_title: Keyboard Monkey
                              company: Qwyk
                              location: 'Dordrecht, Netherlands'
                            open: true
                            reason: I need a better rate
                            remarks: Please give me a better rate
                            responser:
                              id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
                              type: portals-users
                              name: Martyn Verhaegen
                              email: m@qwyk.io
                              team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
                              team_name: Qwyk
                              job_title: Keyboard Monkey
                              company: Qwyk
                              location: 'Dordrecht, Netherlands'
                            offer:
                              id: 916268e3-4f6f-42d0-8248-491b56897794
                              quotation_id: 916268e3-4f6f-42d0-8248-491b56897794
                              transport_mode: OCEAN
                              load_type: fcl
                              carrier:
                                scac: MAEU
                                name: Maersk Line
                              carrier_name: Maersk Line
                              pol:
                                _id: 5e9c1dcb282811aa256bb8f3
                                locode: NLRTM
                                name: Rotterdam
                                display_name: 'Rotterdam, ZH'
                                name_wo_diacritics: Rotterdam
                                display_name_wo_diacritics: 'Rotterdam, ZH'
                                country_code: NL
                                country_name: Netherlands (the)
                                iata: RTM
                                subdivision: ZH
                                timezone: Europe/Amsterdam
                                latitude_dec: 51.95
                                longitude_dec: 4.5
                                latitude_dms: 5155N
                                longitude_dms: 00430E
                                location:
                                  type: Point
                                  coordinates:
                                    - 4.5
                                    - 4.5
                                position:
                                  - 51.92
                                  - 51.92
                                is_airport: true
                                is_borderxing: true
                                is_fixed_transport: true
                                is_icd: true
                                is_port: true
                                is_postal_exchange: true
                                is_rail_terminal: true
                                is_road_terminal: true
                              pod:
                                _id: 5e9c1dcb282811aa256bb8f3
                                locode: NLRTM
                                name: Rotterdam
                                display_name: 'Rotterdam, ZH'
                                name_wo_diacritics: Rotterdam
                                display_name_wo_diacritics: 'Rotterdam, ZH'
                                country_code: NL
                                country_name: Netherlands (the)
                                iata: RTM
                                subdivision: ZH
                                timezone: Europe/Amsterdam
                                latitude_dec: 51.95
                                longitude_dec: 4.5
                                latitude_dms: 5155N
                                longitude_dms: 00430E
                                location:
                                  type: Point
                                  coordinates:
                                    - 4.5
                                    - 4.5
                                position:
                                  - 51.92
                                  - 51.92
                                is_airport: true
                                is_borderxing: true
                                is_fixed_transport: true
                                is_icd: true
                                is_port: true
                                is_postal_exchange: true
                                is_rail_terminal: true
                                is_road_terminal: true
                              rate_name: APACWB Rates FAK
                              transit_time: 15
                              currency: USD
                              total_amount: 1400.5
                              breakdown:
                                - id: 1
                                  segment: freight
                                  charge_code: OFR
                                  charge_description: Ocean Freight
                                  base_currency: USD
                                  base_rate: 1000
                                  base_calculation:
                                    id: 1
                                    name: CONTAINER
                                    description: Charge that applies per number of containers
                                    is_percentage: true
                                  base_minimum: 1000
                                  total_amount: 1000
                                  exchange_rate: 0.89
                                  total_amount_quotation: 890
                                  remarks: Here are some charge remarks
                              grouped_breakdown:
                                - sort: 1
                                  group: freight
                                  lines:
                                    - id: 1
                                      segment: freight
                                      charge_code: OFR
                                      charge_description: Ocean Freight
                                      base_currency: USD
                                      base_rate: 1000
                                      base_calculation:
                                        id: 1
                                        name: CONTAINER
                                        description: Charge that applies per number of containers
                                        is_percentage: true
                                      base_minimum: 1000
                                      total_amount: 1000
                                      exchange_rate: 0.89
                                      total_amount_quotation: 890
                                      remarks: Here are some charge remarks
                                  total: 450
                              valid_from: '2020-08-30T23:59:59+00:00'
                              valid_until: '2020-08-30T23:59:59+00:00'
                              remarks: Here are some rate remarks
                              created_at: '2020-08-30T23:59:59+00:00'
                            response_message: Here is a better rate
                            created_at: '2020-08-27T08:55:25+00:00'
                            updated_at: '2020-08-27T08:55:25+00:00'
                        last_rate_request:
                          id: 916e6a39-a21c-46ba-8831-5d37fde0f3a2
                          quotation_id: 916268e3-3ff9-4871-a16e-8a2cb135e5e5
                          creator:
                            id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
                            type: portals-users
                            name: Martyn Verhaegen
                            email: m@qwyk.io
                            team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
                            team_name: Qwyk
                            job_title: Keyboard Monkey
                            company: Qwyk
                            location: 'Dordrecht, Netherlands'
                          open: true
                          reason: I need a better rate
                          remarks: Please give me a better rate
                          responser:
                            id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
                            type: portals-users
                            name: Martyn Verhaegen
                            email: m@qwyk.io
                            team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
                            team_name: Qwyk
                            job_title: Keyboard Monkey
                            company: Qwyk
                            location: 'Dordrecht, Netherlands'
                          offer:
                            id: 916268e3-4f6f-42d0-8248-491b56897794
                            quotation_id: 916268e3-4f6f-42d0-8248-491b56897794
                            transport_mode: OCEAN
                            load_type: fcl
                            carrier:
                              scac: MAEU
                              name: Maersk Line
                            carrier_name: Maersk Line
                            pol:
                              _id: 5e9c1dcb282811aa256bb8f3
                              locode: NLRTM
                              name: Rotterdam
                              display_name: 'Rotterdam, ZH'
                              name_wo_diacritics: Rotterdam
                              display_name_wo_diacritics: 'Rotterdam, ZH'
                              country_code: NL
                              country_name: Netherlands (the)
                              iata: RTM
                              subdivision: ZH
                              timezone: Europe/Amsterdam
                              latitude_dec: 51.95
                              longitude_dec: 4.5
                              latitude_dms: 5155N
                              longitude_dms: 00430E
                              location:
                                type: Point
                                coordinates:
                                  - 4.5
                                  - 4.5
                              position:
                                - 51.92
                                - 51.92
                              is_airport: true
                              is_borderxing: true
                              is_fixed_transport: true
                              is_icd: true
                              is_port: true
                              is_postal_exchange: true
                              is_rail_terminal: true
                              is_road_terminal: true
                            pod:
                              _id: 5e9c1dcb282811aa256bb8f3
                              locode: NLRTM
                              name: Rotterdam
                              display_name: 'Rotterdam, ZH'
                              name_wo_diacritics: Rotterdam
                              display_name_wo_diacritics: 'Rotterdam, ZH'
                              country_code: NL
                              country_name: Netherlands (the)
                              iata: RTM
                              subdivision: ZH
                              timezone: Europe/Amsterdam
                              latitude_dec: 51.95
                              longitude_dec: 4.5
                              latitude_dms: 5155N
                              longitude_dms: 00430E
                              location:
                                type: Point
                                coordinates:
                                  - 4.5
                                  - 4.5
                              position:
                                - 51.92
                                - 51.92
                              is_airport: true
                              is_borderxing: true
                              is_fixed_transport: true
                              is_icd: true
                              is_port: true
                              is_postal_exchange: true
                              is_rail_terminal: true
                              is_road_terminal: true
                            rate_name: APACWB Rates FAK
                            transit_time: 15
                            currency: USD
                            total_amount: 1400.5
                            breakdown:
                              - id: 1
                                segment: freight
                                charge_code: OFR
                                charge_description: Ocean Freight
                                base_currency: USD
                                base_rate: 1000
                                base_calculation:
                                  id: 1
                                  name: CONTAINER
                                  description: Charge that applies per number of containers
                                  is_percentage: true
                                base_minimum: 1000
                                total_amount: 1000
                                exchange_rate: 0.89
                                total_amount_quotation: 890
                                remarks: Here are some charge remarks
                            grouped_breakdown:
                              - sort: 1
                                group: freight
                                lines:
                                  - id: 1
                                    segment: freight
                                    charge_code: OFR
                                    charge_description: Ocean Freight
                                    base_currency: USD
                                    base_rate: 1000
                                    base_calculation:
                                      id: 1
                                      name: CONTAINER
                                      description: Charge that applies per number of containers
                                      is_percentage: true
                                    base_minimum: 1000
                                    total_amount: 1000
                                    exchange_rate: 0.89
                                    total_amount_quotation: 890
                                    remarks: Here are some charge remarks
                                total: 450
                            valid_from: '2020-08-30T23:59:59+00:00'
                            valid_until: '2020-08-30T23:59:59+00:00'
                            remarks: Here are some rate remarks
                            created_at: '2020-08-30T23:59:59+00:00'
                          response_message: Here is a better rate
                          created_at: '2020-08-27T08:55:25+00:00'
                          updated_at: '2020-08-27T08:55:25+00:00'
                        shipments:
                          - {}
                        booked_shipments:
                          - {}
                        is_demo: true
                        is_owner: true
                        is_shared_with: true
                        shared_users:
                          - {}
                        is_draft: true
                    links:
                      first: string
                      last: string
                      prev: string
                      next: string
                    meta:
                      current_page: '1'
                      from: 1
                      last_page: 2
                      path: 'http://api.next.qwykportals.com/api/portals/quotations'
                      per_page: 20
                      to: 20
                      total: 33
      description: ''
      parameters:
        - schema:
            type: string
            default: created_at
          in: query
          name: sort
          description: Defines the sort key of the results
        - schema:
            type: string
            default: desc
          in: query
          name: direction
          description: Defines the sort direction of the results
        - schema:
            type: string
            enum:
              - fcl
              - lcl
          in: query
          name: load_type
        - schema:
            type: string
            enum:
              - OCEAN
              - AIR
              - TRUCK
          in: query
          name: transport_mode
        - schema:
            type: string
            minLength: 5
            maxLength: 5
          in: query
          name: origin_locode
        - schema:
            type: string
            minLength: 5
            maxLength: 5
          in: query
          name: destination_locode
      tags:
        - Quotations
  '/quotations/{quotationId}':
    parameters:
      - schema:
          type: string
        name: quotationId
        in: path
        required: true
        description: ID of the quotation to look up
    get:
      summary: Get a quotation by its ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quotation'
              examples:
                example-1:
                  value:
                    id: 916268e3-4f6f-42d0-8248-491b56897794
                    owner:
                      id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
                      type: portals-users
                      name: Martyn Verhaegen
                      email: m@qwyk.io
                      team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
                      team_name: Qwyk
                      job_title: Keyboard Monkey
                      company: Qwyk
                      location: 'Dordrecht, Netherlands'
                    creator:
                      id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
                      type: portals-users
                      name: Martyn Verhaegen
                      email: m@qwyk.io
                      team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
                      team_name: Qwyk
                      job_title: Keyboard Monkey
                      company: Qwyk
                      location: 'Dordrecht, Netherlands'
                    request:
                      owner_reference: null
                      origin:
                        type: port
                        code: 'G:ChIJT08M2DIpxEcRhHVJ1WdmeNY|X:4.6689416|Y:51.8152357|C:NL|P:3311XR'
                        name: 'Rotterdam, Netherlands'
                        locode: NLRTM
                        country_code: NL
                      destination:
                        type: port
                        code: 'G:ChIJT08M2DIpxEcRhHVJ1WdmeNY|X:4.6689416|Y:51.8152357|C:NL|P:3311XR'
                        name: 'Rotterdam, Netherlands'
                        locode: NLRTM
                        country_code: NL
                      transport_mode: OCEAN
                      load_type: fcl
                      cargo_ready: '2020-08-03T12:32:06.202Z'
                      commodity:
                        id: 0
                        code: stri
                        description: string
                        is_preferred: null
                      currency: USD
                      packages:
                        - id: 0
                          quantity: 1
                          packaging:
                            id: 1
                            code: '20'
                            description: 20' Container
                            load_type: fcl
                            transport_mode: OCEAN
                          unit_weight: 300
                          unit_volume: 1.69
                          unit_width: 120
                          unit_length: 80
                          unit_height: 100
                          uom: metric
                      additionals:
                        customs_clearance_origin: false
                        customs_clearance_destination: false
                        cargo_insurance: true
                        hazardous_cargo: true
                        liftgate_pickup: true
                        refrigerated: true
                        white_glove: true
                        residential_delivery: true
                        residential_pickup: true
                        liftgate_delivery: true
                        call_before_delivery: true
                        delivery_appointment_required: true
                        flatbed_required: true
                        limited_access_delivery: true
                        limited_access_pickup: true
                        stackable: true
                      created_at: '2019-08-24T14:15:22Z'
                    results:
                      - id: 916268e3-4f6f-42d0-8248-491b56897794
                        quotation_id: 916268e3-4f6f-42d0-8248-491b56897794
                        transport_mode: OCEAN
                        load_type: fcl
                        carrier:
                          scac: MAEU
                          name: Maersk Line
                        carrier_name: Maersk Line
                        pol:
                          _id: 5e9c1dcb282811aa256bb8f3
                          locode: NLRTM
                          name: Rotterdam
                          display_name: 'Rotterdam, ZH'
                          name_wo_diacritics: Rotterdam
                          display_name_wo_diacritics: 'Rotterdam, ZH'
                          country_code: NL
                          country_name: Netherlands (the)
                          iata: RTM
                          subdivision: ZH
                          timezone: Europe/Amsterdam
                          latitude_dec: 51.95
                          longitude_dec: 4.5
                          latitude_dms: 5155N
                          longitude_dms: 00430E
                          location:
                            type: Point
                            coordinates:
                              - 4.5
                              - 4.5
                          position:
                            - 51.92
                            - 51.92
                          is_airport: true
                          is_borderxing: true
                          is_fixed_transport: true
                          is_icd: true
                          is_port: true
                          is_postal_exchange: true
                          is_rail_terminal: true
                          is_road_terminal: true
                        pod:
                          _id: 5e9c1dcb282811aa256bb8f3
                          locode: NLRTM
                          name: Rotterdam
                          display_name: 'Rotterdam, ZH'
                          name_wo_diacritics: Rotterdam
                          display_name_wo_diacritics: 'Rotterdam, ZH'
                          country_code: NL
                          country_name: Netherlands (the)
                          iata: RTM
                          subdivision: ZH
                          timezone: Europe/Amsterdam
                          latitude_dec: 51.95
                          longitude_dec: 4.5
                          latitude_dms: 5155N
                          longitude_dms: 00430E
                          location:
                            type: Point
                            coordinates:
                              - 4.5
                              - 4.5
                          position:
                            - 51.92
                            - 51.92
                          is_airport: true
                          is_borderxing: true
                          is_fixed_transport: true
                          is_icd: true
                          is_port: true
                          is_postal_exchange: true
                          is_rail_terminal: true
                          is_road_terminal: true
                        rate_name: APACWB Rates FAK
                        transit_time: 15
                        currency: USD
                        total_amount: 1400.5
                        breakdown:
                          - id: 1
                            segment: freight
                            charge_code: OFR
                            charge_description: Ocean Freight
                            base_currency: USD
                            base_rate: 1000
                            base_calculation:
                              id: 1
                              name: CONTAINER
                              description: Charge that applies per number of containers
                              is_percentage: true
                            base_minimum: 1000
                            total_amount: 1000
                            exchange_rate: 0.89
                            total_amount_quotation: 890
                            remarks: Here are some charge remarks
                        grouped_breakdown:
                          - sort: 1
                            group: freight
                            lines:
                              - id: 1
                                segment: freight
                                charge_code: OFR
                                charge_description: Ocean Freight
                                base_currency: USD
                                base_rate: 1000
                                base_calculation:
                                  id: 1
                                  name: CONTAINER
                                  description: Charge that applies per number of containers
                                  is_percentage: true
                                base_minimum: 1000
                                total_amount: 1000
                                exchange_rate: 0.89
                                total_amount_quotation: 890
                                remarks: Here are some charge remarks
                            total: 450
                        valid_from: '2020-08-30T23:59:59+00:00'
                        valid_until: '2020-08-30T23:59:59+00:00'
                        remarks: Here are some rate remarks
                        created_at: '2020-08-30T23:59:59+00:00'
                    rate_requests:
                      - id: 916e6a39-a21c-46ba-8831-5d37fde0f3a2
                        quotation_id: 916268e3-3ff9-4871-a16e-8a2cb135e5e5
                        creator:
                          id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
                          type: portals-users
                          name: Martyn Verhaegen
                          email: m@qwyk.io
                          team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
                          team_name: Qwyk
                          job_title: Keyboard Monkey
                          company: Qwyk
                          location: 'Dordrecht, Netherlands'
                        open: true
                        reason: I need a better rate
                        remarks: Please give me a better rate
                        responser:
                          id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
                          type: portals-users
                          name: Martyn Verhaegen
                          email: m@qwyk.io
                          team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
                          team_name: Qwyk
                          job_title: Keyboard Monkey
                          company: Qwyk
                          location: 'Dordrecht, Netherlands'
                        offer:
                          id: 916268e3-4f6f-42d0-8248-491b56897794
                          quotation_id: 916268e3-4f6f-42d0-8248-491b56897794
                          transport_mode: OCEAN
                          load_type: fcl
                          carrier:
                            scac: MAEU
                            name: Maersk Line
                          carrier_name: Maersk Line
                          pol:
                            _id: 5e9c1dcb282811aa256bb8f3
                            locode: NLRTM
                            name: Rotterdam
                            display_name: 'Rotterdam, ZH'
                            name_wo_diacritics: Rotterdam
                            display_name_wo_diacritics: 'Rotterdam, ZH'
                            country_code: NL
                            country_name: Netherlands (the)
                            iata: RTM
                            subdivision: ZH
                            timezone: Europe/Amsterdam
                            latitude_dec: 51.95
                            longitude_dec: 4.5
                            latitude_dms: 5155N
                            longitude_dms: 00430E
                            location:
                              type: Point
                              coordinates:
                                - 4.5
                                - 4.5
                            position:
                              - 51.92
                              - 51.92
                            is_airport: true
                            is_borderxing: true
                            is_fixed_transport: true
                            is_icd: true
                            is_port: true
                            is_postal_exchange: true
                            is_rail_terminal: true
                            is_road_terminal: true
                          pod:
                            _id: 5e9c1dcb282811aa256bb8f3
                            locode: NLRTM
                            name: Rotterdam
                            display_name: 'Rotterdam, ZH'
                            name_wo_diacritics: Rotterdam
                            display_name_wo_diacritics: 'Rotterdam, ZH'
                            country_code: NL
                            country_name: Netherlands (the)
                            iata: RTM
                            subdivision: ZH
                            timezone: Europe/Amsterdam
                            latitude_dec: 51.95
                            longitude_dec: 4.5
                            latitude_dms: 5155N
                            longitude_dms: 00430E
                            location:
                              type: Point
                              coordinates:
                                - 4.5
                                - 4.5
                            position:
                              - 51.92
                              - 51.92
                            is_airport: true
                            is_borderxing: true
                            is_fixed_transport: true
                            is_icd: true
                            is_port: true
                            is_postal_exchange: true
                            is_rail_terminal: true
                            is_road_terminal: true
                          rate_name: APACWB Rates FAK
                          transit_time: 15
                          currency: USD
                          total_amount: 1400.5
                          breakdown:
                            - id: 1
                              segment: freight
                              charge_code: OFR
                              charge_description: Ocean Freight
                              base_currency: USD
                              base_rate: 1000
                              base_calculation:
                                id: 1
                                name: CONTAINER
                                description: Charge that applies per number of containers
                                is_percentage: true
                              base_minimum: 1000
                              total_amount: 1000
                              exchange_rate: 0.89
                              total_amount_quotation: 890
                              remarks: Here are some charge remarks
                          grouped_breakdown:
                            - sort: 1
                              group: freight
                              lines:
                                - id: 1
                                  segment: freight
                                  charge_code: OFR
                                  charge_description: Ocean Freight
                                  base_currency: USD
                                  base_rate: 1000
                                  base_calculation:
                                    id: 1
                                    name: CONTAINER
                                    description: Charge that applies per number of containers
                                    is_percentage: true
                                  base_minimum: 1000
                                  total_amount: 1000
                                  exchange_rate: 0.89
                                  total_amount_quotation: 890
                                  remarks: Here are some charge remarks
                              total: 450
                          valid_from: '2020-08-30T23:59:59+00:00'
                          valid_until: '2020-08-30T23:59:59+00:00'
                          remarks: Here are some rate remarks
                          created_at: '2020-08-30T23:59:59+00:00'
                        response_message: Here is a better rate
                        created_at: '2020-08-27T08:55:25+00:00'
                        updated_at: '2020-08-27T08:55:25+00:00'
                    last_rate_request:
                      id: 916e6a39-a21c-46ba-8831-5d37fde0f3a2
                      quotation_id: 916268e3-3ff9-4871-a16e-8a2cb135e5e5
                      creator:
                        id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
                        type: portals-users
                        name: Martyn Verhaegen
                        email: m@qwyk.io
                        team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
                        team_name: Qwyk
                        job_title: Keyboard Monkey
                        company: Qwyk
                        location: 'Dordrecht, Netherlands'
                      open: true
                      reason: I need a better rate
                      remarks: Please give me a better rate
                      responser:
                        id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
                        type: portals-users
                        name: Martyn Verhaegen
                        email: m@qwyk.io
                        team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
                        team_name: Qwyk
                        job_title: Keyboard Monkey
                        company: Qwyk
                        location: 'Dordrecht, Netherlands'
                      offer:
                        id: 916268e3-4f6f-42d0-8248-491b56897794
                        quotation_id: 916268e3-4f6f-42d0-8248-491b56897794
                        transport_mode: OCEAN
                        load_type: fcl
                        carrier:
                          scac: MAEU
                          name: Maersk Line
                        carrier_name: Maersk Line
                        pol:
                          _id: 5e9c1dcb282811aa256bb8f3
                          locode: NLRTM
                          name: Rotterdam
                          display_name: 'Rotterdam, ZH'
                          name_wo_diacritics: Rotterdam
                          display_name_wo_diacritics: 'Rotterdam, ZH'
                          country_code: NL
                          country_name: Netherlands (the)
                          iata: RTM
                          subdivision: ZH
                          timezone: Europe/Amsterdam
                          latitude_dec: 51.95
                          longitude_dec: 4.5
                          latitude_dms: 5155N
                          longitude_dms: 00430E
                          location:
                            type: Point
                            coordinates:
                              - 4.5
                              - 4.5
                          position:
                            - 51.92
                            - 51.92
                          is_airport: true
                          is_borderxing: true
                          is_fixed_transport: true
                          is_icd: true
                          is_port: true
                          is_postal_exchange: true
                          is_rail_terminal: true
                          is_road_terminal: true
                        pod:
                          _id: 5e9c1dcb282811aa256bb8f3
                          locode: NLRTM
                          name: Rotterdam
                          display_name: 'Rotterdam, ZH'
                          name_wo_diacritics: Rotterdam
                          display_name_wo_diacritics: 'Rotterdam, ZH'
                          country_code: NL
                          country_name: Netherlands (the)
                          iata: RTM
                          subdivision: ZH
                          timezone: Europe/Amsterdam
                          latitude_dec: 51.95
                          longitude_dec: 4.5
                          latitude_dms: 5155N
                          longitude_dms: 00430E
                          location:
                            type: Point
                            coordinates:
                              - 4.5
                              - 4.5
                          position:
                            - 51.92
                            - 51.92
                          is_airport: true
                          is_borderxing: true
                          is_fixed_transport: true
                          is_icd: true
                          is_port: true
                          is_postal_exchange: true
                          is_rail_terminal: true
                          is_road_terminal: true
                        rate_name: APACWB Rates FAK
                        transit_time: 15
                        currency: USD
                        total_amount: 1400.5
                        breakdown:
                          - id: 1
                            segment: freight
                            charge_code: OFR
                            charge_description: Ocean Freight
                            base_currency: USD
                            base_rate: 1000
                            base_calculation:
                              id: 1
                              name: CONTAINER
                              description: Charge that applies per number of containers
                              is_percentage: true
                            base_minimum: 1000
                            total_amount: 1000
                            exchange_rate: 0.89
                            total_amount_quotation: 890
                            remarks: Here are some charge remarks
                        grouped_breakdown:
                          - sort: 1
                            group: freight
                            lines:
                              - id: 1
                                segment: freight
                                charge_code: OFR
                                charge_description: Ocean Freight
                                base_currency: USD
                                base_rate: 1000
                                base_calculation:
                                  id: 1
                                  name: CONTAINER
                                  description: Charge that applies per number of containers
                                  is_percentage: true
                                base_minimum: 1000
                                total_amount: 1000
                                exchange_rate: 0.89
                                total_amount_quotation: 890
                                remarks: Here are some charge remarks
                            total: 450
                        valid_from: '2020-08-30T23:59:59+00:00'
                        valid_until: '2020-08-30T23:59:59+00:00'
                        remarks: Here are some rate remarks
                        created_at: '2020-08-30T23:59:59+00:00'
                      response_message: Here is a better rate
                      created_at: '2020-08-27T08:55:25+00:00'
                      updated_at: '2020-08-27T08:55:25+00:00'
                    shipments:
                      - {}
                    booked_shipments:
                      - {}
                    is_demo: true
                    is_owner: true
                    is_shared_with: true
                    shared_users:
                      - {}
                    is_draft: true
        '404':
          description: Not Found
      operationId: get-quotations-quotationId
      tags:
        - Quotations
  /auth/login:
    post:
      summary: Log in
      operationId: post-api-auth-login
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                  expires_in:
                    type: integer
        '401':
          description: |-
            Unauthorized
            Invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: |-
            Forbidden
            Valid credentials but not able to continue, check response body `type` and `message` for a reason.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    enum:
                      - email-unconfirmed
                      - account-unconfirmed
                      - not-allowed-on-site
                    description: |-
                      Reasons: 
                      * email-unconfirmed: the user has not yet confirmed their email address.
                      * account-unconfirmed: an administrator has not yet approved the account for access.
                      * not-allowed-on-site: the user is not authorized to access the Site belonging to the `site_id` that was provided 
                  message:
                    type: string
      tags:
        - Authentication
      description: ''
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                organization_id:
                  type: integer
                site_id:
                  type: integer
              required:
                - email
                - password
                - organization_id
                - site_id
    parameters: []
  /auth/forgot-password:
    post:
      summary: Request password reset
      operationId: post-auth-forgot-password
      responses:
        '202':
          description: |-
            Accepted: 
            always responds with 202, including when the user does not exist to avoid email-trawling
          content:
            application/json:
              schema:
                type: 'null'
        '422':
          description: Unprocessable entity
      tags:
        - Authentication
      security: []
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                organization_id:
                  type: integer
                site_id:
                  type: integer
              required:
                - email
                - organization_id
                - site_id
        description: ''
  /auth/reset-password:
    post:
      summary: Reset password with code
      operationId: post-auth-reset-password
      responses:
        '200':
          description: 'OK: password set to the requested value. use /auth/login with the new password to obtain a token.'
        '400':
          description: 'Bad request: User was not found, reset_code was invalid or it expired'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '422':
          description: Unprocessable Entity
      tags:
        - Authentication
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                organization_id:
                  type: integer
                site_id:
                  type: integer
                password:
                  type: string
                  format: password
                  description: The new password to set
                password_confirmation:
                  type: string
                  format: password
                reset_code:
                  type: integer
              required:
                - email
                - organization_id
                - site_id
                - password
                - password_confirmation
                - reset_code
      description: ''
  /auth/register:
    post:
      summary: Register for Portal
      operationId: post-auth-register
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  example: John Doe
                  maxLength: 191
                email:
                  type: string
                  minLength: 1
                  example: johndoe@example.com
                  format: email
                  maxLength: 191
                company_name:
                  type: string
                  minLength: 1
                  example: My Company
                password:
                  type: string
                  minLength: 12
                  pattern: '^[a-zA-Z0-9\!\@\#\$\%\&\-\.\*\=]+$'
                  example: rmpAmeAz8xV9X
                  maxLength: 36
                  format: password
                job_title:
                  type: string
                  minLength: 1
                  maxLength: 191
                  example: Keyboard cat
                location:
                  type: string
                  maxLength: 191
                  example: Rotterdam
                country_code:
                  type: string
                  pattern: '^[A-Z0-9]{2}$'
                  minLength: 2
                  maxLength: 2
                  example: NL
                phone_number:
                  type: string
                  maxLength: 15
                  example: 555-555-1234
                accept_terms:
                  type: boolean
                  description: Must be true
                marketing_optin:
                  type: boolean
                  description: Whether the user accepts marketing emails
                organization_id:
                  type: number
                  example: 1
                  description: Your QwykPortals organization_id
                site_id:
                  type: number
                  example: 1
                  description: 'The id of the Site under which they''ll register (determines branding of emails, etc.)'
              required:
                - name
                - email
                - company_name
                - password
                - country_code
                - accept_terms
                - marketing_optin
                - organization_id
                - site_id
            examples:
              example-1:
                value:
                  name: John Doe
                  email: johndoe@example.com
                  company_name: My Company
                  password: rmpAmeAz8xV9X
                  job_title: Keyboard cat
                  location: Rotterdam
                  country_code: NL
                  phone_number: 555-555-1234
                  accept_terms: true
                  marketing_optin: true
                  organization_id: 1
                  site_id: 1
        description: |-
          ### Compliance
          In order to be GDPR complaint `accept_terms` must be passed as true and the user must have explicitly assented to having their data processed in accordance with our Privacy Policy. This means you are required to display a checkbox or other control, which by default is set to false and which's label includes text along the lines of: "I consent to having my data processed in accordance with the Privacy Policy"
          A link to the privacy policy must be provided: https://docs.qwykportals.com/resources/legal/privacy-policy.


          ### country_code
          Country codes follow ISO-3166's Alpha-2 codes, a list of which can be found at this address: https://www.iso.org/obp/ui/#search/code/
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: boolean
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                    example: The given data was invalid.
                    default: The given data was invalid.
                  errors:
                    type: object
                    required:
                      - '[key]'
                    description: A keyed object with an array of strings representing errors for each field that failed validation
                    properties:
                      '[key]':
                        type: array
                        items:
                          type: string
                required:
                  - message
                  - errors
              examples:
                example-1:
                  value:
                    message: The given data was invalid.
                    errors:
                      email:
                        - The email 'johndoe@example.com' already belongs to an account.
      tags:
        - Registration
      description: ''
      security: []
components:
  schemas:
    QuotationRequest:
      title: QuotationRequest
      type: object
      x-examples:
        FCL Example:
          owner_reference: null
          origin:
            type: port
            code: NLRTM
            locode: NLRTM
            name: 'Rotterdam, Netherlands'
            country_code: NL
          destination:
            type: port
            code: SGSIN
            locode: SGSIN
            name: 'Singapore, Singapore'
            country_code: SG
          transport_mode: OCEAN
          load_type: fcl
          require_origin_charges: true
          require_destination_charges: false
          cargo_ready: '2020-09-03T12:32:06.202Z'
          commodity:
            id: 1
            code: FAK0
            description: Freight All Kinds - Non Hazardous
            is_preferred: 1
          currency: EUR
          packages:
            - quantity: 1
              packaging:
                id: 1
                code: '20'
                description: 20' Container
                transport_mode: OCEAN
                load_type: fcl
              unit_weight: null
              unit_volume: null
              unit_width: null
              unit_length: null
              unit_height: null
              uom: null
              id: 0
          additionals:
            customs_clearance_origin: false
            customs_clearance_destination: false
            cargo_insurance: false
            hazardous_cargo: false
            liftgate_pickup: false
            refrigerated: false
            white_glove: false
            residential_delivery: false
            residential_pickup: false
            liftgate_delivery: false
            call_before_delivery: false
            delivery_appointment_required: false
            flatbed_required: false
            limited_access_delivery: false
            limited_access_pickup: false
            stackable: false
      description: ''
      x-tags:
        - Models
      properties:
        owner_reference:
          type:
            - string
            - 'null'
        origin:
          $ref: ./QwykPortals-Quotation-Webhook-API.v1.yaml#/components/schemas/QuotationRequestLocation
        destination:
          $ref: ./QwykPortals-Quotation-Webhook-API.v1.yaml#/components/schemas/QuotationRequestLocation
        transport_mode:
          $ref: ./QwykPortals-Masterdata-API.v1.yaml#/components/schemas/TransportMode
        load_type:
          $ref: ./QwykPortals-Masterdata-API.v1.yaml#/components/schemas/LoadType
        require_origin_charges:
          type: boolean
        require_destination_charges:
          type: boolean
        cargo_ready:
          type: string
          format: date-time
          example: '2020-08-03T12:32:06.202Z'
        commodity:
          $ref: ./QwykPortals-Masterdata-API.v1.yaml#/components/schemas/Commodity
        currency:
          type: string
          example: USD
          minLength: 3
          maxLength: 3
          description: See MasterData currencies for available ones
        packages:
          type: array
          description: Only 1 when load_type=fcl
          items:
            $ref: '#/components/schemas/QuotationRequestPackages'
        additionals:
          type: object
          properties:
            customs_clearance_origin:
              type: boolean
            customs_clearance_destination:
              type: boolean
            cargo_insurance:
              type: boolean
            hazardous_cargo:
              type: boolean
            liftgate_pickup:
              type: boolean
            refrigerated:
              type: boolean
            white_glove:
              type: boolean
            residential_delivery:
              type: boolean
            residential_pickup:
              type: boolean
            liftgate_delivery:
              type: boolean
            call_before_delivery:
              type: boolean
            delivery_appointment_required:
              type: boolean
            flatbed_required:
              type: boolean
            limited_access_delivery:
              type: boolean
            limited_access_pickup:
              type: boolean
            stackable:
              type: boolean
        created_at:
          type: string
          description: Only in response
          format: date-time
      required:
        - owner_reference
        - origin
        - destination
        - transport_mode
        - load_type
        - require_origin_charges
        - require_destination_charges
        - cargo_ready
        - commodity
        - currency
        - packages
        - additionals
    QuotationRequestLocation:
      title: QuotationRequestLocation
      type: object
      x-tags:
        - Models
      properties:
        type:
          type: string
          enum:
            - port
            - place
          description: '`port` for a port move, `place` for a door move'
          example: port
        code:
          type: string
          description: |-
            locode when type is port, structured data when type is place

            structured data:
            G:|X:|Y:|C:|P:

            Where:
            G: Google Places ID
            X: Longtitude
            Y: Latitude
            C: Country code
            P: Postal code
          example: 'G:ChIJT08M2DIpxEcRhHVJ1WdmeNY|X:4.6689416|Y:51.8152357|C:NL|P:3311XR'
        name:
          type: string
          example: 'Rotterdam, Netherlands'
        locode:
          type: string
          minLength: 5
          maxLength: 5
          example: NLRTM
        country_code:
          type: string
          minLength: 2
          maxLength: 2
          example: NL
      required:
        - type
        - code
        - name
        - locode
        - country_code
      x-examples:
        Port Example:
          type: port
          code: NLRTM
          name: 'Rotterdam, Netherlands'
          locode: NLRTM
          country_code: NL
        Place Example:
          type: place
          code: 'G:ChIJT08M2DIpxEcRhHVJ1WdmeNY|X:4.6689416|Y:51.8152357|C:NL|P:3311XR'
          name: 'Nieuwstraat 7, 3311XR Dordrecht, The Netherlands'
          locode: NLDOR
          country_code: NL
      description: ''
    QuotationRequestPackages:
      title: QuotationRequestPackage
      type: object
      x-examples:
        FCL Example:
          quantity: 1
          packaging:
            id: 1
            code: '20'
            description: 20' Container
            transport_mode: OCEAN
            load_type: fcl
          unit_weight: null
          unit_volume: null
          unit_width: null
          unit_length: null
          unit_height: null
          uom: null
          id: 0
        LCL Example:
          id: 0
          quantity: 3
          packaging:
            id: 1
            code: CARTON
            description: Carton(s)
            load_type: lcl
            transport_mode: OCEAN
          unit_weight: 300
          unit_volume: 1.69
          unit_width: 120
          unit_length: 80
          unit_height: 100
          uom: metric
      x-tags:
        - Models
      description: ''
      properties:
        id:
          type: integer
          default: 0
        quantity:
          type: integer
          minimum: 1
        packaging:
          $ref: ./QwykPortals-Masterdata-API.v1.yaml#/components/schemas/Packaging
        unit_weight:
          type:
            - number
            - 'null'
          description: 'Required when load_type=lcl, in kgs or lbs'
          default: 0
          minimum: 0.01
          example: 300
        unit_volume:
          type:
            - number
            - 'null'
          description: 'Required when load_type=lcl, in cbm or cft'
          minimum: 0.001
          example: 1.69
        unit_width:
          type:
            - number
            - 'null'
          description: 'Required when load_type=lcl, in cm or in.'
          minimum: 0.001
          example: 120
        unit_length:
          type:
            - number
            - 'null'
          description: 'Required when load_type=lcl, in cm or in.'
          minimum: 0.001
          example: 80
        unit_height:
          type:
            - number
            - 'null'
          description: 'Required when load_type=lcl, in cm or in.'
          minimum: 0.001
          example: 100
        uom:
          $ref: ./QwykPortals-Masterdata-API.v1.yaml#/components/schemas/UnitOfMeasure
      required:
        - quantity
        - packaging
        - uom
    Quotation:
      title: Quotation
      type: object
      x-tags:
        - Models
      x-examples:
        example-1:
          id: 916268e3-4f6f-42d0-8248-491b56897794
          owner:
            id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
            type: portals-users
            name: Martyn Verhaegen
            email: m@qwyk.io
            team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
            team_name: Qwyk
            job_title: Keyboard Monkey
            company: Qwyk
            location: 'Dordrecht, Netherlands'
          creator:
            id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
            type: portals-users
            name: Martyn Verhaegen
            email: m@qwyk.io
            team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
            team_name: Qwyk
            job_title: Keyboard Monkey
            company: Qwyk
            location: 'Dordrecht, Netherlands'
          request:
            owner_reference: null
            origin:
              type: port
              code: 'G:ChIJT08M2DIpxEcRhHVJ1WdmeNY|X:4.6689416|Y:51.8152357|C:NL|P:3311XR'
              name: 'Rotterdam, Netherlands'
              locode: NLRTM
              country_code: NL
            destination:
              type: port
              code: 'G:ChIJT08M2DIpxEcRhHVJ1WdmeNY|X:4.6689416|Y:51.8152357|C:NL|P:3311XR'
              name: 'Rotterdam, Netherlands'
              locode: NLRTM
              country_code: NL
            transport_mode: OCEAN
            load_type: fcl
            cargo_ready: '2020-08-03T12:32:06.202Z'
            commodity:
              id: 0
              code: stri
              description: string
              is_preferred: null
            currency: USD
            packages:
              - id: 0
                quantity: 0
                packaging:
                  id: 1
                  code: '20'
                  description: 20' Container
                  load_type: fcl
                  transport_mode: OCEAN
                unit_weight: 300
                unit_volume: 1.69
                unit_width: 120
                unit_length: 80
                unit_height: 100
                uom: metric
            additionals:
              customs_clearance_origin: true
              customs_clearance_destination: true
              cargo_insurance: true
              hazardous_cargo: true
              liftgate_pickup: true
              refrigerated: true
              white_glove: true
              residential_delivery: true
              residential_pickup: true
              liftgate_delivery: true
              call_before_delivery: true
              delivery_appointment_required: true
              flatbed_required: true
              limited_access_delivery: true
              limited_access_pickup: true
              stackable: true
            created_at: '2019-08-24T14:15:22Z'
          results:
            - id: 916268e3-4f6f-42d0-8248-491b56897794
              quotation_id: 916268e3-4f6f-42d0-8248-491b56897794
              transport_mode: OCEAN
              load_type: fcl
              carrier:
                scac: MAEU
                name: Maersk Line
              carrier_name: Maersk Line
              pol:
                _id: 5e9c1dcb282811aa256bb8f3
                locode: NLRTM
                name: Rotterdam
                display_name: 'Rotterdam, ZH'
                name_wo_diacritics: Rotterdam
                display_name_wo_diacritics: 'Rotterdam, ZH'
                country_code: NL
                country_name: Netherlands (the)
                iata: RTM
                subdivision: ZH
                timezone: Europe/Amsterdam
                latitude_dec: 51.95
                longitude_dec: 4.5
                latitude_dms: 5155N
                longitude_dms: 00430E
                location:
                  type: Point
                  coordinates:
                    - 4.5
                    - 4.5
                position:
                  - 51.92
                  - 51.92
                is_airport: true
                is_borderxing: true
                is_fixed_transport: true
                is_icd: true
                is_port: true
                is_postal_exchange: true
                is_rail_terminal: true
                is_road_terminal: true
              pod:
                _id: 5e9c1dcb282811aa256bb8f3
                locode: NLRTM
                name: Rotterdam
                display_name: 'Rotterdam, ZH'
                name_wo_diacritics: Rotterdam
                display_name_wo_diacritics: 'Rotterdam, ZH'
                country_code: NL
                country_name: Netherlands (the)
                iata: RTM
                subdivision: ZH
                timezone: Europe/Amsterdam
                latitude_dec: 51.95
                longitude_dec: 4.5
                latitude_dms: 5155N
                longitude_dms: 00430E
                location:
                  type: Point
                  coordinates:
                    - 4.5
                    - 4.5
                position:
                  - 51.92
                  - 51.92
                is_airport: true
                is_borderxing: true
                is_fixed_transport: true
                is_icd: true
                is_port: true
                is_postal_exchange: true
                is_rail_terminal: true
                is_road_terminal: true
              rate_name: APACWB Rates FAK
              transit_time: 15
              currency: USD
              total_amount: 1400.5
              breakdown:
                - id: 1
                  segment: freight
                  charge_code: OFR
                  charge_description: Ocean Freight
                  base_currency: USD
                  base_rate: 1000
                  base_calculation:
                    id: 1
                    name: CONTAINER
                    description: Charge that applies per number of containers
                    is_percentage: true
                  base_minimum: 1000
                  total_amount: 1000
                  exchange_rate: 0.89
                  total_amount_quotation: 890
                  remarks: Here are some charge remarks
              grouped_breakdown:
                - sort: 1
                  group: freight
                  lines:
                    - id: 1
                      segment: freight
                      charge_code: OFR
                      charge_description: Ocean Freight
                      base_currency: USD
                      base_rate: 1000
                      base_calculation:
                        id: 1
                        name: CONTAINER
                        description: Charge that applies per number of containers
                        is_percentage: true
                      base_minimum: 1000
                      total_amount: 1000
                      exchange_rate: 0.89
                      total_amount_quotation: 890
                      remarks: Here are some charge remarks
                  total: 450
              valid_from: '2020-08-30T23:59:59+00:00'
              valid_until: '2020-08-30T23:59:59+00:00'
              remarks: Here are some rate remarks
              created_at: '2020-08-30T23:59:59+00:00'
          rate_requests:
            - id: 916e6a39-a21c-46ba-8831-5d37fde0f3a2
              quotation_id: 916268e3-3ff9-4871-a16e-8a2cb135e5e5
              creator:
                id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
                type: portals-users
                name: Martyn Verhaegen
                email: m@qwyk.io
                team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
                team_name: Qwyk
                job_title: Keyboard Monkey
                company: Qwyk
                location: 'Dordrecht, Netherlands'
              open: true
              reason: I need a better rate
              remarks: Please give me a better rate
              responser:
                id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
                type: portals-users
                name: Martyn Verhaegen
                email: m@qwyk.io
                team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
                team_name: Qwyk
                job_title: Keyboard Monkey
                company: Qwyk
                location: 'Dordrecht, Netherlands'
              offer:
                id: 916268e3-4f6f-42d0-8248-491b56897794
                quotation_id: 916268e3-4f6f-42d0-8248-491b56897794
                transport_mode: OCEAN
                load_type: fcl
                carrier:
                  scac: MAEU
                  name: Maersk Line
                carrier_name: Maersk Line
                pol:
                  _id: 5e9c1dcb282811aa256bb8f3
                  locode: NLRTM
                  name: Rotterdam
                  display_name: 'Rotterdam, ZH'
                  name_wo_diacritics: Rotterdam
                  display_name_wo_diacritics: 'Rotterdam, ZH'
                  country_code: NL
                  country_name: Netherlands (the)
                  iata: RTM
                  subdivision: ZH
                  timezone: Europe/Amsterdam
                  latitude_dec: 51.95
                  longitude_dec: 4.5
                  latitude_dms: 5155N
                  longitude_dms: 00430E
                  location:
                    type: Point
                    coordinates:
                      - 4.5
                      - 4.5
                  position:
                    - 51.92
                    - 51.92
                  is_airport: true
                  is_borderxing: true
                  is_fixed_transport: true
                  is_icd: true
                  is_port: true
                  is_postal_exchange: true
                  is_rail_terminal: true
                  is_road_terminal: true
                pod:
                  _id: 5e9c1dcb282811aa256bb8f3
                  locode: NLRTM
                  name: Rotterdam
                  display_name: 'Rotterdam, ZH'
                  name_wo_diacritics: Rotterdam
                  display_name_wo_diacritics: 'Rotterdam, ZH'
                  country_code: NL
                  country_name: Netherlands (the)
                  iata: RTM
                  subdivision: ZH
                  timezone: Europe/Amsterdam
                  latitude_dec: 51.95
                  longitude_dec: 4.5
                  latitude_dms: 5155N
                  longitude_dms: 00430E
                  location:
                    type: Point
                    coordinates:
                      - 4.5
                      - 4.5
                  position:
                    - 51.92
                    - 51.92
                  is_airport: true
                  is_borderxing: true
                  is_fixed_transport: true
                  is_icd: true
                  is_port: true
                  is_postal_exchange: true
                  is_rail_terminal: true
                  is_road_terminal: true
                rate_name: APACWB Rates FAK
                transit_time: 15
                currency: USD
                total_amount: 1400.5
                breakdown:
                  - id: 1
                    segment: freight
                    charge_code: OFR
                    charge_description: Ocean Freight
                    base_currency: USD
                    base_rate: 1000
                    base_calculation:
                      id: 1
                      name: CONTAINER
                      description: Charge that applies per number of containers
                      is_percentage: true
                    base_minimum: 1000
                    total_amount: 1000
                    exchange_rate: 0.89
                    total_amount_quotation: 890
                    remarks: Here are some charge remarks
                grouped_breakdown:
                  - sort: 1
                    group: freight
                    lines:
                      - id: 1
                        segment: freight
                        charge_code: OFR
                        charge_description: Ocean Freight
                        base_currency: USD
                        base_rate: 1000
                        base_calculation:
                          id: 1
                          name: CONTAINER
                          description: Charge that applies per number of containers
                          is_percentage: true
                        base_minimum: 1000
                        total_amount: 1000
                        exchange_rate: 0.89
                        total_amount_quotation: 890
                        remarks: Here are some charge remarks
                    total: 450
                valid_from: '2020-08-30T23:59:59+00:00'
                valid_until: '2020-08-30T23:59:59+00:00'
                remarks: Here are some rate remarks
                created_at: '2020-08-30T23:59:59+00:00'
              response_message: Here is a better rate
              created_at: '2020-08-27T08:55:25+00:00'
              updated_at: '2020-08-27T08:55:25+00:00'
          last_rate_request:
            id: 916e6a39-a21c-46ba-8831-5d37fde0f3a2
            quotation_id: 916268e3-3ff9-4871-a16e-8a2cb135e5e5
            creator:
              id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
              type: portals-users
              name: Martyn Verhaegen
              email: m@qwyk.io
              team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
              team_name: Qwyk
              job_title: Keyboard Monkey
              company: Qwyk
              location: 'Dordrecht, Netherlands'
            open: true
            reason: I need a better rate
            remarks: Please give me a better rate
            responser:
              id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
              type: portals-users
              name: Martyn Verhaegen
              email: m@qwyk.io
              team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
              team_name: Qwyk
              job_title: Keyboard Monkey
              company: Qwyk
              location: 'Dordrecht, Netherlands'
            offer:
              id: 916268e3-4f6f-42d0-8248-491b56897794
              quotation_id: 916268e3-4f6f-42d0-8248-491b56897794
              transport_mode: OCEAN
              load_type: fcl
              carrier:
                scac: MAEU
                name: Maersk Line
              carrier_name: Maersk Line
              pol:
                _id: 5e9c1dcb282811aa256bb8f3
                locode: NLRTM
                name: Rotterdam
                display_name: 'Rotterdam, ZH'
                name_wo_diacritics: Rotterdam
                display_name_wo_diacritics: 'Rotterdam, ZH'
                country_code: NL
                country_name: Netherlands (the)
                iata: RTM
                subdivision: ZH
                timezone: Europe/Amsterdam
                latitude_dec: 51.95
                longitude_dec: 4.5
                latitude_dms: 5155N
                longitude_dms: 00430E
                location:
                  type: Point
                  coordinates:
                    - 4.5
                    - 4.5
                position:
                  - 51.92
                  - 51.92
                is_airport: true
                is_borderxing: true
                is_fixed_transport: true
                is_icd: true
                is_port: true
                is_postal_exchange: true
                is_rail_terminal: true
                is_road_terminal: true
              pod:
                _id: 5e9c1dcb282811aa256bb8f3
                locode: NLRTM
                name: Rotterdam
                display_name: 'Rotterdam, ZH'
                name_wo_diacritics: Rotterdam
                display_name_wo_diacritics: 'Rotterdam, ZH'
                country_code: NL
                country_name: Netherlands (the)
                iata: RTM
                subdivision: ZH
                timezone: Europe/Amsterdam
                latitude_dec: 51.95
                longitude_dec: 4.5
                latitude_dms: 5155N
                longitude_dms: 00430E
                location:
                  type: Point
                  coordinates:
                    - 4.5
                    - 4.5
                position:
                  - 51.92
                  - 51.92
                is_airport: true
                is_borderxing: true
                is_fixed_transport: true
                is_icd: true
                is_port: true
                is_postal_exchange: true
                is_rail_terminal: true
                is_road_terminal: true
              rate_name: APACWB Rates FAK
              transit_time: 15
              currency: USD
              total_amount: 1400.5
              breakdown:
                - id: 1
                  segment: freight
                  charge_code: OFR
                  charge_description: Ocean Freight
                  base_currency: USD
                  base_rate: 1000
                  base_calculation:
                    id: 1
                    name: CONTAINER
                    description: Charge that applies per number of containers
                    is_percentage: true
                  base_minimum: 1000
                  total_amount: 1000
                  exchange_rate: 0.89
                  total_amount_quotation: 890
                  remarks: Here are some charge remarks
              grouped_breakdown:
                - sort: 1
                  group: freight
                  lines:
                    - id: 1
                      segment: freight
                      charge_code: OFR
                      charge_description: Ocean Freight
                      base_currency: USD
                      base_rate: 1000
                      base_calculation:
                        id: 1
                        name: CONTAINER
                        description: Charge that applies per number of containers
                        is_percentage: true
                      base_minimum: 1000
                      total_amount: 1000
                      exchange_rate: 0.89
                      total_amount_quotation: 890
                      remarks: Here are some charge remarks
                  total: 450
              valid_from: '2020-08-30T23:59:59+00:00'
              valid_until: '2020-08-30T23:59:59+00:00'
              remarks: Here are some rate remarks
              created_at: '2020-08-30T23:59:59+00:00'
            response_message: Here is a better rate
            created_at: '2020-08-27T08:55:25+00:00'
            updated_at: '2020-08-27T08:55:25+00:00'
          shipments:
            - {}
          booked_shipments:
            - {}
          is_demo: true
          is_owner: true
          is_shared_with: true
          shared_users:
            - {}
          is_draft: true
      properties:
        id:
          type: string
          example: 916268e3-4f6f-42d0-8248-491b56897794
        owner:
          $ref: ./QwykPortals-Masterdata-API.v1.yaml#/components/schemas/UserSummary
        creator:
          $ref: ./QwykPortals-Masterdata-API.v1.yaml#/components/schemas/UserSummary
        request:
[...]
