openapi: 3.0.0
info:
  title: Masterdata API
  version: '3.14'
  contact:
    name: Support
    url: 'https://docs.qwykportals.com'
    email: support@qwyk.io
  termsOfService: 'http://docs.qwyk.io/docs/legal-terms-of-use.html'
  license:
    name: Proprietary
  description: 'Publically accessible APIs that give access to non-specific master data  '
servers:
  - url: 'https://api.next.qwykportals.com/api/masters'
    description: Next branch
  - url: 'https://api.qwykportals.com/api/masters'
    description: Stable branch
paths:
  /currencies:
    get:
      summary: List all currencies
      tags:
        - Methods
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Currency'
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      - code: AUD
                        sign: $
                        is_preferred: 0
                        name: Australian dollar
                      - code: BGN
                        sign: лв
                        is_preferred: 0
                        name: Bulgarian lev
                      - code: BRL
                        sign: R$
                        is_preferred: 0
                        name: Brazilian real
                      - code: EUR
                        sign: €
                        is_preferred: 1
                        name: Euro
                      - code: GBP
                        sign: £
                        is_preferred: 1
                        name: British Pound
                      - code: USD
                        sign: $
                        is_preferred: 1
                        name: United States Dollar
                      - code: ZAR
                        sign: $
                        is_preferred: 0
                        name: South African rand
      operationId: get-api-masters-currencies
      description: Lists all available currencies
      security: []
  /commodities:
    get:
      summary: List all commodities
      tags:
        - Methods
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Commodity'
                required:
                  - data
              examples:
                example-1:
                  value:
                    data:
                      - id: 56
                        code: AGCL
                        description: Agriculture (Fruits and Vegetables)
                        is_preferred: 0
                      - id: 57
                        code: ALCO
                        description: Alcoholic Beverages
                        is_preferred: 0
                      - id: 38
                        code: APRL
                        description: Apparel
                        is_preferred: 0
                      - id: 61
                        code: WASTE
                        description: Waste and Scrap Materials
                        is_preferred: 0
                      - id: 62
                        code: PAPR
                        description: Waste Paper
                        is_preferred: 0
                      - id: 63
                        code: WTCH
                        description: 'Watches, Timepieces, Jewelry, Eyewear'
                        is_preferred: 0
      operationId: get-api-masters-commodities
      description: Lists all available commodities
      security: []
    parameters: []
  '/packagings/{transport_mode}/{load_type}':
    get:
      summary: List all packagings
      tags:
        - Methods
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Packaging'
                required:
                  - data
              examples:
                Example:
                  value:
                    data:
                      - id: 1
                        code: '20'
                        description: 20' Container
                        description_plural: 20' Containers
                        transport_mode: OCEAN
                        load_type: fcl
                      - id: 6
                        code: '40'
                        description: 40' Container
                        description_plural: 40' Containers
                        transport_mode: OCEAN
                        load_type: fcl
                      - id: 7
                        code: 40HC
                        description: 40' Container
                        description_plural: 40' Containers
                        transport_mode: OCEAN
                        load_type: fcl
                      - id: 8
                        code: '45'
                        description: 45' Container
                        description_plural: 45' Containers
                        transport_mode: OCEAN
                        load_type: fcl
      operationId: 'get-api-masters-packagings-:transport_mode-:load_type'
      parameters:
        - schema:
            type: boolean
            default: 'true'
          in: query
          name: onlyQuoting
          description: Whether to only return packagings that can be used when quoting (defaults `false`)
      description: ''
      security: []
    parameters:
      - schema:
          type: string
          enum:
            - OCEAN
            - AIR
            - TRUCK
          example: OCEAN
        name: transport_mode
        in: path
        description: The transport mode for which to get the packagings
      - schema:
          type: string
          enum:
            - fcl
            - lcl
          example: fcl
        name: load_type
        in: path
        description: The load type for which to fetch packagings
components:
  schemas:
    Commodity:
      title: Commodity
      type: object
      description: Represents a commodity option for a quotation
      x-examples:
        Example commodity:
          id: 0
          code: AGCL
          description: Agriculture (Fruits and Vegetables)
          is_preferred: false
      x-tags:
        - Models
      properties:
        id:
          type: integer
        code:
          type: string
          minLength: 4
          maxLength: 4
        description:
          type: string
        is_preferred:
          type:
            - boolean
            - integer
          description: Used by Qwyk to give preference in dropdowns
      required:
        - id
        - code
        - description
        - is_preferred
    Currency:
      title: Currency
      type: object
      description: Represents a currency option for a quotation
      x-examples:
        Example currency:
          code: AUD
          name: Australian dollar
          sign: $
          is_preferred: 0
      x-tags:
        - Models
      properties:
        code:
          type: string
          description: 3-letter currency code
        name:
          type: string
        sign:
          type: string
          description: Sign for the currency (e.g. $)
        is_preferred:
          type:
            - boolean
            - integer
          description: Used by Qwyk to give preference in dropdowns
      required:
        - code
        - name
        - sign
        - is_preferred
    Packaging:
      title: Packaging
      type: object
      x-tags:
        - Models
      x-examples:
        Example Packaging:
          id: 0
          code: '20'
          description: 20' Container
          load_type: fcl
          transport_mode: OCEAN
      properties:
        id:
          type: integer
          example: 1
        code:
          type: string
          example: '20'
        description:
          type: string
          example: 20' Container
        description_plural:
          type: string
          example: 20' Containers
          description: English pluralized description
        load_type:
          type: string
          enum:
            - fcl
            - lcl
          example: fcl
        transport_mode:
          type: string
          enum:
            - OCEAN
            - AIR
            - TRUCK
          example: OCEAN
      required:
        - id
        - code
        - description
        - load_type
        - transport_mode
    TransportMode:
      type: string
      title: TransportMode
      enum:
        - OCEAN
        - AIR
        - TRUCK
      example: OCEAN
      x-tags:
        - Models
      x-examples:
        example-1: OCEAN
    LoadType:
      type: string
      title: LoadType
      default: fcl
      enum:
        - fcl
        - lcl
      example: fcl
      x-tags:
        - Models
      x-examples:
        example-1: fcl
    UnitOfMeasure:
      type: string
      title: UnitOfMeasure
      enum:
        - metric
        - imperial
      example: metric
      x-tags:
        - Models
      x-examples:
        example-1: metric
    UserSummary:
      title: UserSummary
      type: object
      x-tags:
        - Models
      description: ''
      properties:
        id:
          type: string
          example: ea93fe35-2dc6-4751-a7db-a84a998dcc48
        type:
          type: string
          example: portals-users
          enum:
            - portals-user
            - hub-user
        name:
          type: string
          example: Martyn Verhaegen
        email:
          type: string
          example: m@qwyk.io
        team_id:
          type: string
          example: 80c79b95-aba6-476b-8d37-5c4e17263621
        team_name:
          type: string
          example: Qwyk
        job_title:
          type: string
          example: Keyboard Monkey
        company:
          type: string
          example: Qwyk
        location:
          type: string
          example: 'Dordrecht, Netherlands'
      x-examples:
        example-1:
          id: ea93fe35-2dc6-4751-a7db-a84a998dcc48
          type: portals-users
          name: Martyn Verhaegen
          email: m@qwyk.io
          team_id: 80c79b95-aba6-476b-8d37-5c4e17263621
          team_name: Qwyk
          job_title: Keyboard Monkey
          company: Qwyk
          location: 'Dordrecht, Netherlands'
    Carrier:
      title: Carrier
      type: object
      x-tags:
        - Models
      properties:
        scac:
          type: string
          example: MAEU
        name:
          type: string
          example: Maersk Line
      x-examples:
        example-1:
          scac: MAEU
          name: Maersk Line
    Location:
      title: Location
      type: object
      x-tags:
        - Models
      x-examples:
        example-1:
          _id: 5e9c1dcb282811aa256bb8f3
          locode: NLRTM
          name: Rotterdam
          display_name: 'Rotterdam, ZH'
          name_wo_diacritics: Rotterdam
          display_name_wo_diacritics: 'Rotterdam, ZH'
          country_code: NL
          country_name: Netherlands (the)
          iata: RTM
          subdivision: ZH
          timezone: Europe/Amsterdam
          latitude_dec: 51.95
          longitude_dec: 4.5
          latitude_dms: 5155N
          longitude_dms: 00430E
          location:
            type: Point
            coordinates:
              - 4.5
              - 4.5
          position:
            - 51.92
            - 51.92
          is_airport: true
          is_borderxing: true
          is_fixed_transport: true
          is_icd: true
          is_port: true
          is_postal_exchange: true
          is_rail_terminal: true
          is_road_terminal: true
      description: ''
      properties:
        _id:
          type: string
          example: 5e9c1dcb282811aa256bb8f3
        locode:
          type: string
          example: NLRTM
        name:
          type: string
          example: Rotterdam
        display_name:
          type: string
          example: 'Rotterdam, ZH'
        name_wo_diacritics:
          type: string
          example: Rotterdam
        display_name_wo_diacritics:
          type: string
          example: 'Rotterdam, ZH'
        country_code:
          type: string
          example: NL
        country_name:
          type: string
          example: Netherlands (the)
        iata:
          type: string
          example: RTM
        subdivision:
          type: string
          example: ZH
        timezone:
          type: string
          example: Europe/Amsterdam
        latitude_dec:
          type: number
          example: 51.95
        longitude_dec:
          type: number
          example: 4.5
        latitude_dms:
          type: string
          example: 5155N
        longitude_dms:
          type: string
          example: 00430E
        location:
          type: object
          properties:
            type:
              type: string
              example: Point
            coordinates:
              type: array
              minItems: 2
              maxItems: 2
              items:
                type: number
                example: 4.5
        position:
          type: array
          minItems: 2
          maxItems: 2
          items:
            type: number
            example: 51.92
        is_airport:
          type: boolean
        is_borderxing:
          type: boolean
        is_fixed_transport:
          type: boolean
        is_icd:
          type: boolean
        is_port:
          type: boolean
        is_postal_exchange:
          type: boolean
        is_rail_terminal:
          type: boolean
        is_road_terminal:
          type: boolean
    PaginationLinks:
      title: PaginationLinks
      type: object
      properties:
        first:
          type: string
        last:
          type: string
        prev:
          type: string
        next:
          type: string
      x-tags:
        - Models
    PaginationMeta:
      title: PaginationMeta
      type: object
      x-tags:
        - Models
      x-examples:
        example-1:
          current_page: 1
          from: 1
          last_page: 2
          path: 'http://api.next.qwykportals.com/api/portals/quotations'
          per_page: 20
          to: 20
          total: 33
      properties:
        current_page:
          type: integer
          example: '1'
        from:
          type: integer
          example: 1
        last_page:
          type: integer
          example: 2
        path:
          type: string
          example: 'http://api.next.qwykportals.com/api/portals/quotations'
        per_page:
          type: integer
          example: 20
        to:
          type: integer
          example: 20
        total:
          type: integer
          example: 33
      description: ''
    RateCalculation:
      title: RateCalculation
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: CONTAINER
        description:
          type: string
          example: Charge that applies per number of containers
        is_percentage:
          type: boolean
      x-tags:
        - Models
      x-examples:
        example-1:
          id: 1
          name: CONTAINER
          description: Charge that applies per number of containers
          is_percentage: true
tags:
  - name: Methods
