openapi: 3.1.0
info:
  title: 'PREVIEW: QwykPortals Warehouse API'
  version: '0.0'
  license:
    name: Proprietary
  contact:
    name: Magaya
    email: support@qwyk.o
  description: ''
servers:
  - url: 'https://api.qwykportals.com/api/portals'
    description: Production
  - url: 'https://api.next.qwykportals.com/api/portals'
    description: Staging
  - url: 'https://api.beta.qwykportals.com/api/portals'
    description: Beta
paths:
  /warehouse/warehouse-receipts:
    get:
      summary: Index
      tags:
        - Warehouse Receipt
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WarehouseReceipt'
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '403':
          $ref: '#/components/responses/403'
      operationId: get-api-portals-warehouse-receipts
      parameters:
        - schema:
            type: integer
            minimum: 1
            default: 25
          in: query
          name: page_size
        - schema:
            type: integer
            minimum: 1
            default: 1
          in: query
          name: page
        - schema:
            type: string
            default: created_at
            enum:
              - created_at
              - updated_at
              - status
              - number
          in: query
          name: order_by
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          in: query
          name: order_by_direction
        - schema:
            type: integer
          in: query
          name: 'status[]'
          description: An array of status integers to filter by
        - schema:
            type: string
          in: query
          name: number
        - schema:
            type: string
            format: date-time
          in: query
          name: 'created_at_range[]'
          description: 2 dates in array format
    parameters: []
  '/warehouse/warehouse-receipts/{warehouseReceiptId}':
    get:
      summary: Show
      tags:
        - Warehouse Receipt
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/WarehouseReceipt'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: 'get-api-portals-warehouse-receipts-:id'
      x-internal: false
    parameters:
      - schema:
          type: string
          format: uuid
        name: warehouseReceiptId
        in: path
        required: true
  '/warehouse/warehouse-receipts/{warehouseReceiptId}/attachments':
    parameters:
      - schema:
          type: string
          format: uuid
        name: warehouseReceiptId
        in: path
        required: true
    get:
      summary: Attachments Index
      tags:
        - Warehouse Receipt
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Attachment'
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-api-portals-warehouse-receipts-id-cargo-items
      parameters:
        - schema:
            type: integer
            minimum: 1
            default: 25
          in: query
          name: page_size
        - schema:
            type: integer
            default: 1
            minimum: 1
          in: query
          name: page
        - schema:
            type: string
            enum:
              - created_at
              - updated_at
            default: created_a
          in: query
          name: order_by
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          in: query
          name: order_by_direction
      description: ''
    post:
      summary: Attachment Create
      operationId: post-warehouse-warehouse-receipts-warehouseReceiptId-attachments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Attachment'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: |-
                    Allows: pdf,docx,doc,xlsx,xls,csv,txt,png,jpg,jpeg

                    Max: 2048kb
                description:
                  type: string
                  maxLength: 191
              required:
                - file
                - description
      description: ''
      tags:
        - Warehouse Receipt
  '/warehouse/warehouse-receipts/{warehouseReceiptId}/cargo-items':
    parameters:
      - schema:
          type: string
          format: uuid
        name: warehouseReceiptId
        in: path
        required: true
    get:
      summary: Cargo Items Index
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CargoItem'
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-api-portals-warehouse-receipts-id-cargo-items
      parameters:
        - schema:
            type: integer
            minimum: 1
            default: 25
          in: query
          name: page_size
        - schema:
            type: integer
            default: 1
            minimum: 1
          in: query
          name: page
        - schema:
            type: string
            enum:
              - status
              - quantity
            default: status
          in: query
          name: order_by
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
          in: query
          name: order_by_direction
      tags:
        - Warehouse Receipt
  '/warehouse/warehouse-receipts/{warehouseReceiptId}/entities':
    parameters:
      - schema:
          type: string
          format: uuid
        name: warehouseReceiptId
        in: path
        required: true
    get:
      summary: Entities Index
      tags:
        - Warehouse Receipt
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Entity'
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-api-portals-warehouse-receipts-id-cargo-items
      parameters:
        - schema:
            type: integer
            minimum: 1
            default: 25
          in: query
          name: page_size
        - schema:
            type: integer
            default: 1
            minimum: 1
          in: query
          name: page
        - schema:
            type: string
            default: name
            enum:
              - name
          in: query
          name: order_by
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
          in: query
          name: order_by_direction
  '/warehouse/warehouse-receipts/{warehouseReceiptId}/events':
    parameters:
      - schema:
          type: string
          format: uuid
        name: warehouseReceiptId
        in: path
        required: true
    get:
      summary: Events Index
      tags:
        - Warehouse Receipt
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-api-portals-warehouse-receipts-id-cargo-items
      parameters:
        - schema:
            type: integer
            minimum: 1
            default: 25
          in: query
          name: page_size
        - schema:
            type: integer
            default: 1
            minimum: 1
          in: query
          name: page
        - schema:
            type: string
            default: date
            enum:
              - created_at
              - updated_at
              - date
          in: query
          name: order_by
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          in: query
          name: order_by_direction
  '/common/attachments/{attachmentId}/link':
    parameters:
      - schema:
          type: string
          format: uuid
        name: attachmentId
        in: path
        required: true
        description: The UUID of the attachment
    get:
      summary: Attachment Download Link
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
                      valid_until:
                        type: string
                        description: Timestamp until when the link is valid
                        format: date-time
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-shared-attachments-attachmentId
      description: Returns a Attachment's signed URL which can be used to download the file.
      tags:
        - Common
components:
  schemas:
    WarehouseReceipt:
      title: WarehouseReceipt
      type: object
      examples: []
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        organization_id:
          type: integer
          readOnly: true
        number:
          type: string
        status:
          type: integer
          minimum: 0
          maximum: 8
        status_name:
          type: string
          enum:
            - on-hand
            - in-progress
            - loaded
            - in-transit
            - at-destination
            - delivered
            - empty
            - arriving
            - pending
        warehouse:
          type: string
        shipper_name:
          type: string
        consignee_name:
          type: string
        supplier_name:
          type: string
        destination_agent_name:
          type: string
        driver_name:
          type: string
        carrier_pro_number:
          type: string
        carrier_tracking_number:
          type: string
        driver_license_number:
          type: string
        supplier_po_number:
          type: string
        notes:
          type: string
        attachments_count:
          type: integer
        total_items:
          type: integer
        total_pieces:
          type: integer
        total_weight:
          $ref: '#/components/schemas/MultiUnitValue'
        total_volume:
          $ref: '#/components/schemas/MultiUnitValue'
        is_on_hold:
          type: boolean
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
        deleted_at:
          type: string
          format: date-time
          readOnly: true
      required:
        - id
        - organization_id
        - number
        - status
        - status_name
        - is_on_hold
        - created_at
        - updated_at
    Event:
      title: Event
      type: object
      properties:
        id:
          type: string
          format: uuid
        parent_type:
          type: string
          enum:
            - warehouse-receipt
        parent_id:
          type: string
          format: uuid
        name:
          type: string
        event:
          type: string
        location_name:
          type: string
        date:
          type: string
          format: date-time
      required:
        - id
        - parent_type
        - parent_id
    CargoItem:
      title: CargoItem
      type: object
      properties:
        id:
          type: string
          format: uuid
        parent_type:
          type: string
          enum:
            - warehouse-receipt
        parent_id:
          type: string
          format: uuid
        status:
          type: integer
          minimum: 0
          maximum: 14
        status_name:
          type: string
          enum:
            - on-hand
            - in-progress
            - loaded
            - in-transit
            - at-destination
            - delivered
            - arriving
            - in-quote
            - available
            - booked
            - processed
            - pending
            - ordered
            - back-ordered
            - canceled
        type_code:
          type: integer
        count:
          type: integer
        quantity:
          type: integer
        package_name:
          type: string
        description:
          type: string
        location:
          type: string
        weight:
          $ref: '#/components/schemas/UnitValue'
        volume:
          $ref: '#/components/schemas/UnitValue'
        total_value:
          type: object
          properties:
            currency:
              type: string
            amount:
              type: number
        is_child:
          type: boolean
        is_kit:
          type: boolean
        is_container:
          type: boolean
        is_really_a_container:
          type: boolean
        is_vehicle:
          type: boolean
        is_on_hold:
          type: boolean
      required:
        - id
        - parent_type
        - parent_id
    Attachment:
      title: Attachment
      type: object
      properties:
        id:
          type: string
          format: uuid
        parent_type:
          type: string
          enum:
            - warehouse-receipt
        parent_id:
          type: string
          format: uuid
        filename:
          type: string
        description:
          type: string
        mime_type:
          type: string
        extension:
          type: string
        created_at:
          type: string
          format: date-time
      required:
        - id
        - parent_type
        - parent_id
    Entity:
      title: Entity
      type: object
      properties:
        entity_type:
          type: string
          enum:
            - ams_notify_party_1
            - ams_notify_party_2
            - billing_client
            - billing_client_invoice
            - consignee
            - delivery_entity
            - destination_pickup_entity
            - intermediate_consignee
            - issued_by
            - notify_party
            - online_creator
            - release_to
            - shipper
            - supplier
        parent_type:
          type: string
          enum:
            - warehouse-receipt
        parent_id:
          type: string
          format: uuid
        magaya_customer:
          $ref: '#/components/schemas/MagayaCustomer'
      required:
        - entity_type
        - parent_type
        - parent_id
        - magaya_customer
    UnitValue:
      title: UnitValue
      type: object
      properties:
        value:
          type: number
        unit:
          type: string
      x-internal: false
    PaginationLinks:
      description: ''
      type: object
      x-examples:
        example-1:
          first: 'http://api.next.qwykportals.com/api/portals/shipments/v2?page=1'
          last: 'http://api.next.qwykportals.com/api/portals/shipments/v2?page=13'
          prev: null
          next: 'http://api.next.qwykportals.com/api/portals/shipments/v2?page=2'
      properties:
        first:
          type: string
          minLength: 1
        last:
          type: string
          minLength: 1
        prev:
          type: string
        next:
          type: string
          minLength: 1
      required:
        - first
        - last
        - next
    PaginationMeta:
      description: ''
      type: object
      x-examples:
        example-1:
          current_page: 1
          from: 1
          last_page: 13
          links:
            - url: null
              label: '&laquo; Previous'
              active: false
            - url: 'http://api.next.qwykportals.com/api/portals/shipments/v2?page=1'
              label: '1'
              active: true
            - url: 'http://api.next.qwykportals.com/api/portals/shipments/v2?page=2'
              label: '2'
              active: false
            - url: 'http://api.next.qwykportals.com/api/portals/shipments/v2?page=3'
              label: '3'
              active: false
            - url: 'http://api.next.qwykportals.com/api/portals/shipments/v2?page=4'
              label: '4'
              active: false
            - url: 'http://api.next.qwykportals.com/api/portals/shipments/v2?page=5'
              label: '5'
              active: false
            - url: 'http://api.next.qwykportals.com/api/portals/shipments/v2?page=6'
              label: '6'
              active: false
            - url: 'http://api.next.qwykportals.com/api/portals/shipments/v2?page=7'
              label: '7'
              active: false
            - url: 'http://api.next.qwykportals.com/api/portals/shipments/v2?page=8'
              label: '8'
              active: false
            - url: 'http://api.next.qwykportals.com/api/portals/shipments/v2?page=9'
              label: '9'
              active: false
            - url: 'http://api.next.qwykportals.com/api/portals/shipments/v2?page=10'
              label: '10'
              active: false
            - url: 'http://api.next.qwykportals.com/api/portals/shipments/v2?page=11'
              label: '11'
              active: false
            - url: 'http://api.next.qwykportals.com/api/portals/shipments/v2?page=12'
              label: '12'
              active: false
            - url: 'http://api.next.qwykportals.com/api/portals/shipments/v2?page=13'
              label: '13'
              active: false
            - url: 'http://api.next.qwykportals.com/api/portals/shipments/v2?page=2'
              label: Next &raquo;
              active: false
          path: 'http://api.next.qwykportals.com/api/portals/shipments/v2'
          per_page: 25
          to: 25
          total: 323
      properties:
        current_page:
          type: number
        from:
          type: number
        last_page:
          type: number
        links:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            type: object
            properties:
              url:
                type: string
              label:
                type: string
                minLength: 1
              active:
                type: boolean
            required:
              - label
              - active
        path:
          type: string
          minLength: 1
        per_page:
          type: number
        to:
          type: number
        total:
          type: number
      required:
        - current_page
        - from
        - last_page
        - links
        - path
        - per_page
        - to
        - total
    MagayaCustomer:
      title: MagayaCustomer
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        street1:
          type: string
        state:
          type: string
        city:
          type: string
        postalcode:
          type: string
        country:
          type: string
      required:
        - id
    MultiUnitValue:
      title: MultiUnitValue
      type: object
      properties:
        imperial:
          $ref: '#/components/schemas/UnitValue'
        metric:
          $ref: '#/components/schemas/UnitValue'
  responses:
    '403':
      description: Forbidden
      content:
        application/json:
          schema:
            description: ''
            type: object
            properties:
              message:
                type: string
                minLength: 1
            required:
              - message
            x-examples:
              example-1:
                message: This action is unauthorized.
          examples:
            example-1:
              value:
                message: This action is unauthorized.
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            description: ''
            type: object
            properties:
              message:
                type: string
                minLength: 1
            required:
              - message
            x-examples:
              example-1:
                message: 'No query results for model [{model}] {id}'
          examples:
            example-1:
              value:
                message: 'No query results for model [{model}] {id}'
  securitySchemes:
    Bearer Token:
      type: http
      scheme: bearer
security:
  - Bearer Token: []
