openapi: 3.0.0
info:
  title: Shipment Exchange API
  version: '1.0'
  contact:
    name: Qwyk
    url: qwyk.io
    email: support@qwyk.io
  description: |+
    The Shipment Exchange API allows your own systems to interact with Shipments that exist in your QwykPortals instance. It consists of two parts:

    #### Webhooks:
    [Receive a new Shipment](./QwykPortals-Shipment-Exchange-API.v1.yaml/paths/~1{your-endpoint}/post)
    This webhook will be called (provided it's configured) each time a new shipment has been posted in QwykPortals to notify you of the instruction.

    #### Methods:
    [Post Booking Confirmation](./QwykPortals-Shipment-Exchange-API.v1.yaml/paths/~1webhooks~1portals~1shipments~1booking-confirmation/post)
    Call this method to confirm a shipment you have received via our Receive a Shipment webhook and let your portal users know their instruction has been accepted.



    [Post Milestone Update](./QwykPortals-Shipment-Exchange-API.v1.yaml/paths/~1webhooks~1portals~1shipments~1timeline-event/post)
    Update shipment milestones through the method by posting a milestone ID along with timestamps so we can update your shipment's status.



servers:
  - url: 'https://api.qwykportals.com'
    description: QwykPortals API (stable)
  - url: 'https://api.next.qwykportals.com'
    description: QwykPortals API (next)
paths:
  /webhooks/portals/shipments/timeline-event:
    post:
      summary: Post Milestone Update
      operationId: post-webhooks-portals-shipments-booking-confirmation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
      security:
        - Bearer Token: []
      description: ''
      tags:
        - Methods
      parameters:
        - schema:
            type: string
            example: 'Bearer [YOUR TOKEN]'
          in: header
          name: Authentication
          description: Pre-assigned bearer token
          required: true
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                doc_type:
                  type: string
                  default: event_json
                version:
                  type: string
                  default: '1.0'
                events:
                  type: array
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/ShipmentEvent'
              required:
                - doc_type
                - version
                - events
        description: ''
    parameters: []
  /webhooks/portals/shipments/booking-confirmation:
    post:
      summary: Post Booking Confirmation
      operationId: post-webhooks-portals-shipments-timeline-event
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
      parameters:
        - schema:
            type: string
            example: 'Bearer [YOUR TOKEN]'
          in: header
          name: Authentication
          required: true
          description: Pre-assigned bearer token
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          description: ''
          required: true
      security:
        - Bearer Token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                version:
                  type: string
                  default: '1.0'
                doc_type:
                  type: string
                  default: chainio_booking_response
                booking_responses:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    properties:
                      notes:
                        type: string
                        example: Booking accepted
                      requesting_party_shipment_reference:
                        type: string
                        description: Qwyk's internal shipment ID
                        format: uuid
                        example: f4d2a948-219d-4370-8f4e-b2a8a5ae0ba2
                      responding_party_shipment_reference:
                        type: string
                        maxLength: 255
                        description: Your shipment reference / booking number
                        example: BOL123048882
                      response_date:
                        type: string
                        format: date-time
                        example: '2020-01-29T08:30:07.599Z'
                      response_type:
                        type: string
                        enum:
                          - accept
                          - reject
                        default: accept
                        example: accept
                      transmission_uid:
                        type: string
                    required:
                      - notes
                      - requesting_party_shipment_reference
                      - responding_party_shipment_reference
                      - response_date
                      - response_type
              required:
                - version
                - doc_type
                - booking_responses
      description: ''
      tags:
        - Methods
    parameters: []
  '/{your-endpoint}':
    parameters:
      - schema:
          type: string
        name: your-endpoint
        in: path
        required: true
        description: 'You''ll define your own server address and endpoint, the server address in this example must be ignored.'
    post:
      summary: Receive a new Shipment
      operationId: post-your-endpoint
      responses:
        '200':
          description: OK
      tags:
        - Webhooks
      description: 'The endpoint operates as a webhook. We will call an appropriately configured address at your end using a predefined body, but variable headers.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentJson'
            examples:
              Example:
                value:
                  doc_type: shipment_json
                  version: '1.6'
                  shipments:
                    - source_account_id: 1
                      source_system_uid: 91402ea5-bfef-44a9-bb3e-b66419a7dd61
                      transmission_uid: 5f4644354be71146d9448526
                      sent_date: '2020-08-26T11:15:01+00:00'
                      booking_submitted_actual: '2020-08-26T11:15:01+00:00'
                      created_by:
                        email: martyn@qwyk.io
                        first_name: Martyn Verhaegen
                        last_name: null
                        username: ea93fe35-2dc6-4751-a7db-a84a998dcc48
                      created_on: '2020-08-26T11:15:01+00:00'
                      agent_reference: null
                      shipper_reference: Shipper Ref
                      forwarder_reference: Forwarder Ref
                      house_bill: null
                      master_bill: null
                      lading_port:
                        unlocode: USCHI
                        description: 'Chicago, IL, US'
                      arrival_port:
                        unlocode: GBLON
                        description: 'London, LND, GB'
                      final_destination_port:
                        unlocode: GBLON
                        description: 'London, LND, GB'
                      ship_from:
                        name: null
                        address_1: null
                        address_2: null
                        address_type: null
                        postal_code: null
                        city: null
                        state: null
                        state_name: null
                        country: null
                        country_name: null
                        phone_number: null
                        unlocode: null
                        source_party_id: 544
                        target_party_id: null
                      shipper:
                        name: Qwyk B.V.
                        address_1: Nieuwstraat 7
                        address_2: Suite 1
                        address_type: null
                        postal_code: 3311XR
                        city: Dordrecht
                        state: null
                        state_name: null
                        country: NL
                        country_name: Netherlands (the)
                        phone_number: 555-555-1234
                        unlocode: NLDOR
                        source_party_id: 546
                        target_party_id: null
                      consignee:
                        name: null
                        address_1: null
                        address_2: null
                        address_type: null
                        postal_code: null
                        city: null
                        state: null
                        state_name: null
                        country: null
                        country_name: null
                        phone_number: null
                        unlocode: null
                        source_party_id: 547
                        target_party_id: null
                      notify_party:
                        name: null
                        address_1: null
                        address_2: null
                        address_type: null
                        postal_code: null
                        city: null
                        state: null
                        state_name: null
                        country: null
                        country_name: null
                        phone_number: null
                        unlocode: null
                        source_party_id: 548
                        target_party_id: null
                      ship_to:
                        name: null
                        address_1: null
                        address_2: null
                        address_type: null
                        postal_code: null
                        city: null
                        state: null
                        state_name: null
                        country: null
                        country_name: null
                        phone_number: null
                        unlocode: null
                        source_party_id: 545
                        target_party_id: null
                      transport_mode: OCEAN
                      vessel_name: CSCL MERCURY
                      voyage_number: 0PFD2E1MA
                      departure_estimated: '2020-08-31T05:00:00+00:00'
                      arrival_estimated: '2020-09-30T00:00:00+00:00'
                      cutoff_time_bol: null
                      cutoff_time_physical: null
                      containerization_type: null
                      cargo_ready_estimated: '2020-08-08T18:05:17+00:00'
                      carrier_instructions: Here are some instructions
                      freight_payment_terms: PREPAID
                      inco_term: EXW
                      package_group:
                        - chargeable_weight_kgs: null
                          commodity_type: HS Code
                          description_of_goods: Freight All Kinds - Non Hazardous
                          gross_weight_kgs: 30000
                          marks_and_numbers: null
                          pack_items:
                            - customer_product_id: Product ID
                              customer_sku: Product SKU
                              po_line_id: PO Line
                              po_number: PO Number
                              product_description: Freight All Kinds - Non Hazardous
                              product_import_hts: HS Code
                              product_name: Product Name
                              source_pack_item_id: 190
                              source_po_line_id: PO Line
                              total_item_quantity: 1
                              unit_of_measure: null
                              unit_of_measure_description: null
                          package_height_cms: null
                          package_length_cms: null
                          package_width_cms: null
                          package_quantity: 1
                          package_type_code: 20' Container
                          package_type_description: 20' Container
                          product_code: Product ID
                          product_import_hts: HS Code
                          source_container_id: null
                          source_package_group_id: 190
                          volume_cbms: 20
                      attachments:
                        - content: BASE64-ENCODED DATA
                          file_name: BL.pdf
                          file_type_code: null
                          file_type_description: BL
                          media_type: application/pdf
      parameters:
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          required: true
components:
  schemas:
    WebhookResponse:
      title: WebhookResponse
      type: object
      x-tags:
        - Models
      properties:
        transactionId:
          type: string
          description: Qwyk transaction id
          format: uuid
        message:
          type: string
    ShipmentEvent:
      title: ShipmentEvent
      type: object
      x-tags:
        - Models
      properties:
        source_system_shipment_uid:
          type: string
          description: Qwyk's shipment id
        event_code:
          type: string
          description: To be mapped during setup
        estimated_date:
          type:
            - string
            - 'null'
          format: date-time
        actual_date:
          type:
            - string
            - 'null'
          format: date-time
        notes:
          type:
            - string
            - 'null'
        vessel_name:
          type:
            - string
            - 'null'
          maxLength: 191
        voyage_number:
          type:
            - string
            - 'null'
          maxLength: 191
        house_bill:
          type:
            - string
            - 'null'
          maxLength: 191
        master_bill:
          type:
            - string
            - 'null'
          maxLength: 191
        forwarder_reference:
          type:
            - string
            - 'null'
          maxLength: 191
        event_unlocode:
          type: object
          properties:
            unlocode:
              type: string
              minLength: 5
              maxLength: 5
            description:
              type: string
        transmission_uid:
          type: string
      required:
        - source_system_shipment_uid
        - event_code
    Shipment:
      title: Shipment
      type: object
      x-tags:
        - Models
      x-examples:
        Example:
          doc_type: shipment_json
          version: '1.6'
          shipments:
            - source_account_id: 1
              source_system_uid: 91402ea5-bfef-44a9-bb3e-b66419a7dd61
              transmission_uid: 5f4644354be71146d9448526
              sent_date: '2020-08-26T11:15:01+00:00'
              booking_submitted_actual: '2020-08-26T11:15:01+00:00'
              created_by:
                email: martyn@qwyk.io
                first_name: Martyn Verhaegen
                last_name: null
                username: ea93fe35-2dc6-4751-a7db-a84a998dcc48
              created_on: '2020-08-26T11:15:01+00:00'
              agent_reference: null
              shipper_reference: Shipper Ref
              forwarder_reference: Forwarder Ref
              house_bill: null
              master_bill: null
              lading_port:
                unlocode: USCHI
                description: 'Chicago, IL, US'
              arrival_port:
                unlocode: GBLON
                description: 'London, LND, GB'
              final_destination_port:
                unlocode: GBLON
                description: 'London, LND, GB'
              ship_from:
                name: null
                address_1: null
                address_2: null
                address_type: null
                postal_code: null
                city: null
                state: null
                state_name: null
                country: null
                country_name: null
                phone_number: null
                unlocode: null
                source_party_id: 544
                target_party_id: null
              shipper:
                name: Qwyk B.V.
                address_1: Nieuwstraat 7
                address_2: Suite 1
                address_type: null
                postal_code: 3311XR
                city: Dordrecht
                state: null
                state_name: null
                country: NL
                country_name: Netherlands (the)
                phone_number: 555-555-1234
                unlocode: NLDOR
                source_party_id: 546
                target_party_id: null
              consignee:
                name: null
                address_1: null
                address_2: null
                address_type: null
                postal_code: null
                city: null
                state: null
                state_name: null
                country: null
                country_name: null
                phone_number: null
                unlocode: null
                source_party_id: 547
                target_party_id: null
              notify_party:
                name: null
                address_1: null
                address_2: null
                address_type: null
                postal_code: null
                city: null
                state: null
                state_name: null
                country: null
                country_name: null
                phone_number: null
                unlocode: null
                source_party_id: 548
                target_party_id: null
              ship_to:
                name: null
                address_1: null
                address_2: null
                address_type: null
                postal_code: null
                city: null
                state: null
                state_name: null
                country: null
                country_name: null
                phone_number: null
                unlocode: null
                source_party_id: 545
                target_party_id: null
              transport_mode: OCEAN
              vessel_name: CSCL MERCURY
              voyage_number: 0PFD2E1MA
              departure_estimated: '2020-08-31T05:00:00+00:00'
              arrival_estimated: '2020-09-30T00:00:00+00:00'
              cutoff_time_bol: null
              cutoff_time_physical: null
              containerization_type: null
              cargo_ready_estimated: '2020-08-08T18:05:17+00:00'
              carrier_instructions: Here are some instructions
              freight_payment_terms: PREPAID
              inco_term: EXW
              package_group:
                - chargeable_weight_kgs: null
                  commodity_type: HS Code
                  description_of_goods: Freight All Kinds - Non Hazardous
                  gross_weight_kgs: 30000
                  marks_and_numbers: null
                  pack_items:
                    - customer_product_id: Product ID
                      customer_sku: Product SKU
                      po_line_id: PO Line
                      po_number: PO Number
                      product_description: Freight All Kinds - Non Hazardous
                      product_import_hts: HS Code
                      product_name: Product Name
                      source_pack_item_id: 190
                      source_po_line_id: PO Line
                      total_item_quantity: 1
                      unit_of_measure: null
                      unit_of_measure_description: null
                  package_height_cms: null
                  package_length_cms: null
                  package_width_cms: null
                  package_quantity: 1
                  package_type_code: 20' Container
                  package_type_description: 20' Container
                  product_code: Product ID
                  product_import_hts: HS Code
                  source_container_id: null
                  source_package_group_id: 190
                  volume_cbms: 20
              attachments:
                - content: BASE64-ENCODED DATA
                  file_name: BL.pdf
                  file_type_code: null
                  file_type_description: BL
                  media_type: application/pdf
      properties:
        source_account_id:
          type: integer
          description: Organization ID in QwykPortals
        source_system_uid:
          type: string
          description: Shipment ID in QwykPortals
          format: uuid
        transmission_uid:
          type: string
          description: Exchange reference
        send_date:
          type: string
          format: date-time
        booking_submitted_actual:
          type: string
          format: date-time
        created_by:
          type: object
          required:
            - email
            - first_name
            - username
          properties:
            email:
              type: string
            first_name:
              type: string
            last_name:
              type:
                - string
                - 'null'
            username:
              type: string
        created_on:
          type: string
          format: date-time
        agent_reference:
          type:
            - string
            - 'null'
        shipper_reference:
          type:
            - string
            - 'null'
        forwarder_reference:
          type:
            - string
            - 'null'
        house_bill:
          type:
            - string
            - 'null'
        master_bill:
          type:
            - string
            - 'null'
        lading_port:
          $ref: '#/components/schemas/Port'
        arrival_port:
          $ref: '#/components/schemas/Port'
        final_destination_port:
          $ref: '#/components/schemas/Port'
        ship_from:
          $ref: '#/components/schemas/ShipmentAddress'
        shipper:
          $ref: '#/components/schemas/ShipmentAddress'
        consignee:
          $ref: '#/components/schemas/ShipmentAddress'
        notify_party:
          $ref: '#/components/schemas/ShipmentAddress'
        ship_to:
          $ref: '#/components/schemas/ShipmentAddress'
        transport_mode:
          type: string
          enum:
            - OCEAN
            - AIR
            - TRUCK
            - RAIL
            - UNDETER
        vessel_name:
          type:
            - string
            - 'null'
        voyage_number:
          type:
            - string
            - 'null'
        departure_estimated:
          type:
            - string
            - 'null'
          format: date-time
        arrival_estimated:
          type:
            - string
            - 'null'
          format: date-time
        cutoff_time_bol:
          type:
            - string
            - 'null'
          format: date-time
        cutoff_time_physical:
          type:
            - string
            - 'null'
          format: date-time
        containerization_type:
          type: string
          enum:
            - fcl
            - lcl
        cargo_ready_estimated:
          type:
            - string
            - 'null'
          format: date-time
        carrier_instructions:
          type:
            - string
            - 'null'
        freight_payment_terms:
          type:
            - string
            - 'null'
          enum:
            - PREPAID
            - COLLECT
        inco_term:
          type:
            - string
            - 'null'
        package_group:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentPackageGroup'
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentAttachment'
      required:
        - source_account_id
        - source_system_uid
        - transmission_uid
        - send_date
        - booking_submitted_actual
        - created_by
        - transport_mode
    ShipmentJson:
      title: ShipmentJson
      type: object
      x-tags:
        - Models
      properties:
        doc_type:
          type: string
        version:
          type: string
        shipments:
          type: array
          items:
            $ref: '#/components/schemas/Shipment'
    Port:
      title: Port
      type: object
      properties:
        locode:
          type: string
          minLength: 5
          maxLength: 5
          description: UN Locode of the port
        description:
          type: string
      required:
        - locode
      x-tags:
        - Models
    ShipmentAddress:
      title: ShipmentAddress
      type: object
      x-tags:
        - Models
      properties:
        name:
          type:
            - string
            - 'null'
        address_1:
          type:
            - string
            - 'null'
        address_2:
          type:
            - string
            - 'null'
        address_type:
          type:
            - string
            - 'null'
        postal_code:
          type:
            - string
            - 'null'
        city:
          type:
            - string
            - 'null'
        state:
          type:
            - string
            - 'null'
        state_name:
          type:
            - string
            - 'null'
        country:
          type:
            - string
            - 'null'
        country_name:
          type:
            - string
            - 'null'
        phone_number:
          type:
            - string
            - 'null'
        unlocode:
          type:
            - string
            - 'null'
        source_party_id:
          type: integer
        target_party_id:
          type:
            - string
            - 'null'
    ShipmentPackageGroup:
      title: ShipmentPackageGroup
      type: object
      x-tags:
        - Models
      properties:
        chargeable_weight_kgs:
          type:
            - number
            - 'null'
        commodity_type:
          type:
            - string
            - 'null'
        description_of_goods:
          type: string
        gross_weight_kgs:
          type:
            - number
            - 'null'
        marks_and_numbers:
          type:
            - string
            - 'null'
        pack_items:
          type: array
          items:
            type: object
            properties:
              customer_product_id:
                type:
                  - string
                  - 'null'
              customer_sku:
                type:
                  - string
                  - 'null'
              po_line_id:
                type:
                  - string
                  - 'null'
              po_number:
                type:
                  - string
                  - 'null'
              product_description:
                type:
                  - string
                  - 'null'
              product_import_hts:
                type:
                  - string
                  - 'null'
              product_name:
                type:
                  - string
                  - 'null'
              source_pack_item_id:
                type: integer
              source_po_line_id:
                type:
                  - string
                  - 'null'
              total_item_quantity:
                type:
                  - integer
                  - 'null'
              unit_of_measure:
                type:
                  - string
                  - 'null'
              unit_of_measure_description:
                type:
                  - string
                  - 'null'
        package_height_cms:
          type:
            - number
            - 'null'
        package_length_cms:
          type:
            - number
            - 'null'
        package_width_cms:
          type:
            - number
            - 'null'
        package_quantity:
          type: integer
        package_type_code:
          type: string
        package_type_description:
          type: string
        product_code:
          type:
            - string
            - 'null'
        product_import_hts:
          type:
            - string
            - 'null'
        source_container_id:
          type:
            - integer
            - 'null'
        source_package_group_id:
          type:
            - 'null'
            - integer
        volume_cbms:
          type:
            - number
            - 'null'
    ShipmentAttachment:
      title: ShipmentAttachment
      type: object
      x-tags:
        - Models
      properties:
        content:
          type: string
          description: BASE64 encoded file data
        file_name:
          type: string
        file_type_code:
          type: string
        file_type_description:
          type: string
        media_type:
          type: string
          description: File MIME type (e.g. application/pdf)
      required:
        - content
        - file_name
        - file_type_code
        - media_type
  securitySchemes:
    Bearer Token:
      name: Authentication
      type: apiKey
      in: header
      description: ''
